info:
    title: 'HM REST Auto API'
    version: 4.0.0
    description: 'High Mobility REST Auto API Level 12 specification'
swagger: '2.0'
host: sandbox.rest-api.high-mobility.com
basePath: /v4
parameters:
    authorizationParam:
        name: Authorization
        in: header
        required: true
        type: string
definitions:
    browser.url:
        description: 'The URL'
        example:
            data: {value: 'https://about.high-mobility.com'}
            timestamp: '2021-04-19T11:48:18.212Z'
        type: string
    browser.url.availability:
        description: 'The URL'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
    capabilities.capabilities:
        example:
            - {data: {capability: doors, supportedProperties: [insideLocks, locks, positions, insideLocksState, locksState]}}
            - {data: {capability: charging, supportedProperties: [estimatedRange, chargeLimit, departureTimes]}}
        type: array
        items:
            type: object
            properties: {capabilityID: {description: 'The identifier of the supported capability', type: number, format: integer}, supportedPropertyIDs: {description: 'Array of supported property identifiers', type: array, items: {type: number, format: integer}}}
    capabilities.webhooks:
        example:
            - {data: {available: {value: available}, event: {value: trip_started}}, timestamp: '2021-04-19T11:48:18.212Z'}
            - {data: {available: {value: available}, event: {value: trip_ended}}, timestamp: '2021-04-19T11:48:18.212Z'}
        type: array
        items:
            type: object
            properties: {available: {description: 'If the specified webhook is available.', type: string, enum: [unavailable, available]}, event: {type: string, enum: [ping, trip_started, trip_ended, vehicle_location_changed, authorization_changed, tire_pressure_changed]}}
    capabilities:
        type: object
        properties:
            capabilities: {$ref: '#/definitions/capabilities.capabilities'}
            webhooks: {$ref: '#/definitions/capabilities.webhooks'}
            brand: {$ref: '#/definitions/universalProperties.brand'}
            vin: {$ref: '#/definitions/universalProperties.vin'}
    capabilities.availability:
        type: object
        properties:
            capabilities: {$ref: '#/definitions/capabilities.capabilities.availability'}
            webhooks: {$ref: '#/definitions/capabilities.webhooks.availability'}
    charging.estimatedRange:
        description: 'Estimated range'
        example:
            data: {value: 432.1, unit: kilometers}
            timestamp: '2021-04-19T11:48:18.213Z'
    charging.estimatedRange.availability:
        description: 'Estimated range'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.batteryLevel:
        description: 'Battery level percentage between 0.0-1.0'
        example:
            data: {value: 0.5}
            timestamp: '2021-04-19T11:48:18.213Z'
        type: number
        format: double
    charging.batteryLevel.availability:
        description: 'Battery level percentage between 0.0-1.0'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: number
        format: double
    charging.batteryCurrentAC:
        description: 'Battery alternating current'
        example:
            data: {value: -0.6, unit: amperes}
            timestamp: '2021-04-19T11:48:18.213Z'
    charging.batteryCurrentAC.availability:
        description: 'Battery alternating current'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.batteryCurrentDC:
        description: 'Battery direct current'
        example:
            data: {value: -0.6, unit: amperes}
            timestamp: '2021-04-19T11:48:18.213Z'
    charging.batteryCurrentDC.availability:
        description: 'Battery direct current'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.chargerVoltageAC:
        description: 'Charger voltage for alternating current'
        example:
            data: {value: 400, unit: volts}
            timestamp: '2021-04-19T11:48:18.213Z'
    charging.chargerVoltageAC.availability:
        description: 'Charger voltage for alternating current'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.chargerVoltageDC:
        description: 'Charger voltage for direct current'
        example:
            data: {value: 400, unit: volts}
            timestamp: '2021-04-19T11:48:18.213Z'
    charging.chargerVoltageDC.availability:
        description: 'Charger voltage for direct current'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.chargeLimit:
        description: 'Charge limit percentage between 0.0-1.0'
        example:
            data: {value: 0.9}
            timestamp: '2021-04-19T11:48:18.213Z'
        type: number
        format: double
    charging.chargeLimit.availability:
        description: 'Charge limit percentage between 0.0-1.0'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: number
        format: double
    charging.timeToCompleteCharge:
        description: 'Time until charging completed'
        example:
            data: {value: 60, unit: minutes}
            timestamp: '2021-04-19T11:48:18.213Z'
    charging.timeToCompleteCharge.availability:
        description: 'Time until charging completed'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.chargingRateKW:
        description: 'Charging rate'
        example:
            data: {value: 3.5, unit: kilowatts}
            timestamp: '2021-04-19T11:48:18.213Z'
    charging.chargingRateKW.availability:
        description: 'Charging rate'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.chargePortState:
        example:
            data: {value: open}
            timestamp: '2021-04-19T11:48:18.213Z'
        type: string
        enum:
            - closed
            - open
    charging.chargePortState.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - closed
            - open
    charging.chargeMode:
        example:
            data: {value: timer_based}
            timestamp: '2021-04-19T11:48:18.213Z'
        type: string
        enum:
            - immediate
            - timer_based
            - inductive
    charging.chargeMode.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - immediate
            - timer_based
            - inductive
    charging.maxChargingCurrent:
        description: 'Maximum charging current'
        example:
            data: {value: 25, unit: amperes}
            timestamp: '2021-04-19T11:48:18.213Z'
    charging.maxChargingCurrent.availability:
        description: 'Maximum charging current'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.plugType:
        example:
            data: {value: type_2}
            timestamp: '2021-04-19T11:48:18.213Z'
        type: string
        enum:
            - type_1
            - type_2
            - ccs
            - chademo
    charging.plugType.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - type_1
            - type_2
            - ccs
            - chademo
    charging.chargingWindowChosen:
        example:
            data: {value: not_chosen}
            timestamp: '2021-04-19T11:48:18.213Z'
        type: string
        enum:
            - not_chosen
            - chosen
    charging.chargingWindowChosen.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - not_chosen
            - chosen
    charging.departureTimes:
        example:
            - {data: {state: {value: active}, time: {hour: {value: 16}, minute: {value: 32}}}, timestamp: '2021-04-19T11:48:18.213Z'}
            - {data: {state: {value: inactive}, time: {hour: {value: 11}, minute: {value: 51}}}, timestamp: '2021-04-19T11:48:18.213Z'}
        type: array
        items:
            type: object
            properties: {state: {type: string, enum: [inactive, active]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    charging.departureTimes.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {state: {type: string, enum: [inactive, active]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    charging.reductionTimes:
        example:
            - {data: {startStop: {value: start}, time: {hour: {value: 17}, minute: {value: 33}}}, timestamp: '2021-04-19T11:48:18.213Z'}
            - {data: {startStop: {value: stop}, time: {hour: {value: 12}, minute: {value: 52}}}, timestamp: '2021-04-19T11:48:18.213Z'}
        type: array
        items:
            type: object
            properties: {startStop: {type: string, enum: [start, stop]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    charging.reductionTimes.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {startStop: {type: string, enum: [start, stop]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    charging.batteryTemperature:
        description: 'Battery temperature'
        example:
            data: {value: 38.4, unit: celsius}
            timestamp: '2021-04-19T11:48:18.213Z'
    charging.batteryTemperature.availability:
        description: 'Battery temperature'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.timers:
        example:
            - {data: {timerType: {value: preferred_start_time}, date: {value: '2017-01-10T16:32:05.000Z'}}, timestamp: '2021-04-19T11:48:18.213Z'}
            - {data: {timerType: {value: preferred_end_time}, date: {value: '2017-01-10T16:36:05.000Z'}}, timestamp: '2021-04-19T11:48:18.213Z'}
            - {data: {timerType: {value: departure_date}, date: {value: '2017-01-10T16:36:05.000Z'}}, timestamp: '2021-04-19T11:48:18.213Z'}
        type: array
        items:
            type: object
            properties: {timerType: {type: string, enum: [preferred_start_time, preferred_end_time, departure_date]}, date: {description: 'Timer date', type: string, format: date-time}}
    charging.timers.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {timerType: {type: string, enum: [preferred_start_time, preferred_end_time, departure_date]}, date: {description: 'Timer date', type: string, format: date-time}}
    charging.pluggedIn:
        example:
            data: {value: plugged_in}
            timestamp: '2021-04-19T11:48:18.213Z'
        type: string
        enum:
            - disconnected
            - plugged_in
    charging.pluggedIn.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - disconnected
            - plugged_in
    charging.status:
        example:
            data: {value: charging}
            timestamp: '2021-04-19T11:48:18.213Z'
        type: string
        enum:
            - not_charging
            - charging
            - charging_complete
            - initialising
            - charging_paused
            - charging_error
            - cable_unplugged
            - slow_charging
            - fast_charging
            - discharging
            - foreign_object_detected
    charging.status.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - not_charging
            - charging
            - charging_complete
            - initialising
            - charging_paused
            - charging_error
            - cable_unplugged
            - slow_charging
            - fast_charging
            - discharging
            - foreign_object_detected
    charging.chargingRate:
        description: 'Charge rate when charging'
        example:
            data: {value: 150, unit: kilowatts}
            timestamp: '2021-04-19T11:48:18.214Z'
    charging.chargingRate.availability:
        description: 'Charge rate when charging'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.batteryCurrent:
        description: 'Battery current'
        example:
            data: {value: -0.6, unit: amperes}
            timestamp: '2021-04-19T11:48:18.214Z'
    charging.batteryCurrent.availability:
        description: 'Battery current'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.chargerVoltage:
        description: 'Charger voltage'
        example:
            data: {value: 400, unit: volts}
            timestamp: '2021-04-19T11:48:18.214Z'
    charging.chargerVoltage.availability:
        description: 'Charger voltage'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.currentType:
        description: 'Type of current in use'
        example:
            data: {value: alternating_current}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - alternating_current
            - direct_current
    charging.currentType.availability:
        description: 'Type of current in use'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - alternating_current
            - direct_current
    charging.maxRange:
        description: 'Maximum electric range with 100% of battery'
        example:
            data: {value: 555, unit: kilometers}
            timestamp: '2021-04-19T11:48:18.214Z'
    charging.maxRange.availability:
        description: 'Maximum electric range with 100% of battery'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    charging.starterBatteryState:
        description: 'State of the starter battery'
        example:
            data: {value: green}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - red
            - yellow
            - green
    charging.starterBatteryState.availability:
        description: 'State of the starter battery'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - red
            - yellow
            - green
    charging.smartChargingStatus:
        description: 'Status of optimized/intelligent charging'
        example:
            data: {value: scc_is_active}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - wallbox_is_active
            - scc_is_active
            - peak_setting_active
    charging.smartChargingStatus.availability:
        description: 'Status of optimized/intelligent charging'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - wallbox_is_active
            - scc_is_active
            - peak_setting_active
    charging.batteryLevelAtDeparture:
        description: 'Battery charge level expected at time of departure'
        example:
            data: {value: 0.9}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: number
        format: double
    charging.batteryLevelAtDeparture.availability:
        description: 'Battery charge level expected at time of departure'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: number
        format: double
    charging.preconditioningDepartureStatus:
        description: 'Status of preconditioning at departure time'
        example:
            data: {value: active}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - inactive
            - active
    charging.preconditioningDepartureStatus.availability:
        description: 'Status of preconditioning at departure time'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - inactive
            - active
    charging.preconditioningImmediateStatus:
        description: 'Status of immediate preconditioning'
        example:
            data: {value: active}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - inactive
            - active
    charging.preconditioningImmediateStatus.availability:
        description: 'Status of immediate preconditioning'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - inactive
            - active
    charging.preconditioningDepartureEnabled:
        description: 'Preconditioning activation status at departure'
        example:
            data: {value: enabled}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - disabled
            - enabled
    charging.preconditioningDepartureEnabled.availability:
        description: 'Preconditioning activation status at departure'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - disabled
            - enabled
    charging.preconditioningError:
        description: 'Preconditioning error if one is encountered'
        example:
            data: {value: not_possible_low}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - no_change
            - not_possible_low
            - not_possible_finished
            - available_after_engine_restart
            - general_error
    charging.preconditioningError.availability:
        description: 'Preconditioning error if one is encountered'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - no_change
            - not_possible_low
            - not_possible_finished
            - available_after_engine_restart
            - general_error
    charging:
        type: object
        properties:
            estimatedRange: {$ref: '#/definitions/charging.estimatedRange'}
            batteryLevel: {$ref: '#/definitions/charging.batteryLevel'}
            batteryCurrentAC: {$ref: '#/definitions/charging.batteryCurrentAC'}
            batteryCurrentDC: {$ref: '#/definitions/charging.batteryCurrentDC'}
            chargerVoltageAC: {$ref: '#/definitions/charging.chargerVoltageAC'}
            chargerVoltageDC: {$ref: '#/definitions/charging.chargerVoltageDC'}
            chargeLimit: {$ref: '#/definitions/charging.chargeLimit'}
            timeToCompleteCharge: {$ref: '#/definitions/charging.timeToCompleteCharge'}
            chargingRateKW: {$ref: '#/definitions/charging.chargingRateKW'}
            chargePortState: {$ref: '#/definitions/charging.chargePortState'}
            chargeMode: {$ref: '#/definitions/charging.chargeMode'}
            maxChargingCurrent: {$ref: '#/definitions/charging.maxChargingCurrent'}
            plugType: {$ref: '#/definitions/charging.plugType'}
            chargingWindowChosen: {$ref: '#/definitions/charging.chargingWindowChosen'}
            departureTimes: {$ref: '#/definitions/charging.departureTimes'}
            reductionTimes: {$ref: '#/definitions/charging.reductionTimes'}
            batteryTemperature: {$ref: '#/definitions/charging.batteryTemperature'}
            timers: {$ref: '#/definitions/charging.timers'}
            pluggedIn: {$ref: '#/definitions/charging.pluggedIn'}
            status: {$ref: '#/definitions/charging.status'}
            chargingRate: {$ref: '#/definitions/charging.chargingRate'}
            batteryCurrent: {$ref: '#/definitions/charging.batteryCurrent'}
            chargerVoltage: {$ref: '#/definitions/charging.chargerVoltage'}
            currentType: {$ref: '#/definitions/charging.currentType'}
            maxRange: {$ref: '#/definitions/charging.maxRange'}
            starterBatteryState: {$ref: '#/definitions/charging.starterBatteryState'}
            smartChargingStatus: {$ref: '#/definitions/charging.smartChargingStatus'}
            batteryLevelAtDeparture: {$ref: '#/definitions/charging.batteryLevelAtDeparture'}
            preconditioningDepartureStatus: {$ref: '#/definitions/charging.preconditioningDepartureStatus'}
            preconditioningImmediateStatus: {$ref: '#/definitions/charging.preconditioningImmediateStatus'}
            preconditioningDepartureEnabled: {$ref: '#/definitions/charging.preconditioningDepartureEnabled'}
            preconditioningError: {$ref: '#/definitions/charging.preconditioningError'}
            brand: {$ref: '#/definitions/universalProperties.brand'}
            vin: {$ref: '#/definitions/universalProperties.vin'}
    charging.availability:
        type: object
        properties:
            estimatedRange: {$ref: '#/definitions/charging.estimatedRange.availability'}
            batteryLevel: {$ref: '#/definitions/charging.batteryLevel.availability'}
            batteryCurrentAC: {$ref: '#/definitions/charging.batteryCurrentAC.availability'}
            batteryCurrentDC: {$ref: '#/definitions/charging.batteryCurrentDC.availability'}
            chargerVoltageAC: {$ref: '#/definitions/charging.chargerVoltageAC.availability'}
            chargerVoltageDC: {$ref: '#/definitions/charging.chargerVoltageDC.availability'}
            chargeLimit: {$ref: '#/definitions/charging.chargeLimit.availability'}
            timeToCompleteCharge: {$ref: '#/definitions/charging.timeToCompleteCharge.availability'}
            chargingRateKW: {$ref: '#/definitions/charging.chargingRateKW.availability'}
            chargePortState: {$ref: '#/definitions/charging.chargePortState.availability'}
            chargeMode: {$ref: '#/definitions/charging.chargeMode.availability'}
            maxChargingCurrent: {$ref: '#/definitions/charging.maxChargingCurrent.availability'}
            plugType: {$ref: '#/definitions/charging.plugType.availability'}
            chargingWindowChosen: {$ref: '#/definitions/charging.chargingWindowChosen.availability'}
            departureTimes: {$ref: '#/definitions/charging.departureTimes.availability'}
            reductionTimes: {$ref: '#/definitions/charging.reductionTimes.availability'}
            batteryTemperature: {$ref: '#/definitions/charging.batteryTemperature.availability'}
            timers: {$ref: '#/definitions/charging.timers.availability'}
            pluggedIn: {$ref: '#/definitions/charging.pluggedIn.availability'}
            status: {$ref: '#/definitions/charging.status.availability'}
            chargingRate: {$ref: '#/definitions/charging.chargingRate.availability'}
            batteryCurrent: {$ref: '#/definitions/charging.batteryCurrent.availability'}
            chargerVoltage: {$ref: '#/definitions/charging.chargerVoltage.availability'}
            currentType: {$ref: '#/definitions/charging.currentType.availability'}
            maxRange: {$ref: '#/definitions/charging.maxRange.availability'}
            starterBatteryState: {$ref: '#/definitions/charging.starterBatteryState.availability'}
            smartChargingStatus: {$ref: '#/definitions/charging.smartChargingStatus.availability'}
            batteryLevelAtDeparture: {$ref: '#/definitions/charging.batteryLevelAtDeparture.availability'}
            preconditioningDepartureStatus: {$ref: '#/definitions/charging.preconditioningDepartureStatus.availability'}
            preconditioningImmediateStatus: {$ref: '#/definitions/charging.preconditioningImmediateStatus.availability'}
            preconditioningDepartureEnabled: {$ref: '#/definitions/charging.preconditioningDepartureEnabled.availability'}
            preconditioningError: {$ref: '#/definitions/charging.preconditioningError.availability'}
    chassisSettings.drivingMode:
        example:
            data: {value: eco}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - regular
            - eco
            - sport
            - sport_plus
            - ecoPlus
            - comfort
    chassisSettings.drivingMode.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - regular
            - eco
            - sport
            - sport_plus
            - ecoPlus
            - comfort
    chassisSettings.sportChrono:
        example:
            data: {value: active}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - inactive
            - active
            - reset
    chassisSettings.sportChrono.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - inactive
            - active
            - reset
    chassisSettings.currentSpringRates:
        description: 'The current values for the spring rates'
        example:
            - {data: {axle: {value: front}, springRate: {value: 21, unit: newton_millimeters}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {axle: {value: rear}, springRate: {value: 23, unit: newton_millimeters}}, timestamp: '2021-04-19T11:48:18.214Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.currentSpringRates.availability:
        description: 'The current values for the spring rates'
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.maximumSpringRates:
        description: 'The maximum possible values for the spring rates'
        example:
            - {data: {axle: {value: front}, springRate: {value: 37, unit: newton_millimeters}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {axle: {value: rear}, springRate: {value: 39, unit: newton_millimeters}}, timestamp: '2021-04-19T11:48:18.214Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.maximumSpringRates.availability:
        description: 'The maximum possible values for the spring rates'
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.minimumSpringRates:
        description: 'The minimum possible values for the spring rates'
        example:
            - {data: {axle: {value: front}, springRate: {value: 16, unit: newton_millimeters}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {axle: {value: rear}, springRate: {value: 18, unit: newton_millimeters}}, timestamp: '2021-04-19T11:48:18.214Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.minimumSpringRates.availability:
        description: 'The minimum possible values for the spring rates'
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.currentChassisPosition:
        description: 'The chassis position calculated from the lowest point'
        example:
            data: {value: 25.4, unit: millimeters}
            timestamp: '2021-04-19T11:48:18.214Z'
    chassisSettings.currentChassisPosition.availability:
        description: 'The chassis position calculated from the lowest point'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    chassisSettings.maximumChassisPosition:
        description: 'The maximum possible value for the chassis position'
        example:
            data: {value: 55.5, unit: millimeters}
            timestamp: '2021-04-19T11:48:18.214Z'
    chassisSettings.maximumChassisPosition.availability:
        description: 'The maximum possible value for the chassis position'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    chassisSettings.minimumChassisPosition:
        description: 'The minimum possible value for the chassis position'
        example:
            data: {value: -28.4, unit: millimeters}
            timestamp: '2021-04-19T11:48:18.214Z'
    chassisSettings.minimumChassisPosition.availability:
        description: 'The minimum possible value for the chassis position'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    chassisSettings:
        type: object
        properties:
            drivingMode: {$ref: '#/definitions/chassisSettings.drivingMode'}
            sportChrono: {$ref: '#/definitions/chassisSettings.sportChrono'}
            currentSpringRates: {$ref: '#/definitions/chassisSettings.currentSpringRates'}
            maximumSpringRates: {$ref: '#/definitions/chassisSettings.maximumSpringRates'}
            minimumSpringRates: {$ref: '#/definitions/chassisSettings.minimumSpringRates'}
            currentChassisPosition: {$ref: '#/definitions/chassisSettings.currentChassisPosition'}
            maximumChassisPosition: {$ref: '#/definitions/chassisSettings.maximumChassisPosition'}
            minimumChassisPosition: {$ref: '#/definitions/chassisSettings.minimumChassisPosition'}
            brand: {$ref: '#/definitions/universalProperties.brand'}
            vin: {$ref: '#/definitions/universalProperties.vin'}
    chassisSettings.availability:
        type: object
        properties:
            drivingMode: {$ref: '#/definitions/chassisSettings.drivingMode.availability'}
            sportChrono: {$ref: '#/definitions/chassisSettings.sportChrono.availability'}
            currentSpringRates: {$ref: '#/definitions/chassisSettings.currentSpringRates.availability'}
            maximumSpringRates: {$ref: '#/definitions/chassisSettings.maximumSpringRates.availability'}
            minimumSpringRates: {$ref: '#/definitions/chassisSettings.minimumSpringRates.availability'}
            currentChassisPosition: {$ref: '#/definitions/chassisSettings.currentChassisPosition.availability'}
            maximumChassisPosition: {$ref: '#/definitions/chassisSettings.maximumChassisPosition.availability'}
            minimumChassisPosition: {$ref: '#/definitions/chassisSettings.minimumChassisPosition.availability'}
    climate.insideTemperature:
        description: 'The inside temperature'
        example:
            data: {value: 19.1, unit: celsius}
            timestamp: '2021-04-19T11:48:18.214Z'
    climate.insideTemperature.availability:
        description: 'The inside temperature'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    climate.outsideTemperature:
        description: 'The outside temperature'
        example:
            data: {value: 12.2, unit: celsius}
            timestamp: '2021-04-19T11:48:18.214Z'
    climate.outsideTemperature.availability:
        description: 'The outside temperature'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    climate.driverTemperatureSetting:
        description: 'The driver temperature setting'
        example:
            data: {value: 21.5, unit: celsius}
            timestamp: '2021-04-19T11:48:18.214Z'
    climate.driverTemperatureSetting.availability:
        description: 'The driver temperature setting'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    climate.passengerTemperatureSetting:
        description: 'The passenger temperature setting'
        example:
            data: {value: 21.7, unit: celsius}
            timestamp: '2021-04-19T11:48:18.214Z'
    climate.passengerTemperatureSetting.availability:
        description: 'The passenger temperature setting'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    climate.hvacState:
        example:
            data: {value: active}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - inactive
            - active
    climate.hvacState.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - inactive
            - active
    climate.defoggingState:
        example:
            data: {value: inactive}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - inactive
            - active
    climate.defoggingState.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - inactive
            - active
    climate.defrostingState:
        example:
            data: {value: inactive}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - inactive
            - active
    climate.defrostingState.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - inactive
            - active
    climate.ionisingState:
        example:
            data: {value: inactive}
            timestamp: '2021-04-19T11:48:18.214Z'
        type: string
        enum:
            - inactive
            - active
    climate.ionisingState.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - inactive
            - active
    climate.defrostingTemperatureSetting:
        description: 'The defrosting temperature setting'
        example:
            data: {value: 21.2, unit: celsius}
            timestamp: '2021-04-19T11:48:18.214Z'
    climate.defrostingTemperatureSetting.availability:
        description: 'The defrosting temperature setting'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    climate.hvacWeekdayStartingTimes:
        example:
            - {data: {weekday: {value: monday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {weekday: {value: tuesday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {weekday: {value: wednesday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {weekday: {value: thursday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {weekday: {value: friday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {weekday: {value: saturday}, time: {hour: {value: 18}, minute: {value: 30}}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {weekday: {value: sunday}, time: {hour: {value: 19}, minute: {value: 31}}}, timestamp: '2021-04-19T11:48:18.214Z'}
            - {data: {weekday: {value: automatic}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-04-19T11:48:18.215Z'}
        type: array
        items:
            type: object
            properties: {weekday: {type: string, enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday, automatic]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    climate.hvacWeekdayStartingTimes.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {weekday: {type: string, enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday, automatic]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    climate.rearTemperatureSetting:
        description: 'The rear temperature'
        example:
            data: {value: 21.6, unit: celsius}
            timestamp: '2021-04-19T11:48:18.215Z'
    climate.rearTemperatureSetting.availability:
        description: 'The rear temperature'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    climate:
        type: object
        properties:
            insideTemperature: {$ref: '#/definitions/climate.insideTemperature'}
            outsideTemperature: {$ref: '#/definitions/climate.outsideTemperature'}
            driverTemperatureSetting: {$ref: '#/definitions/climate.driverTemperatureSetting'}
            passengerTemperatureSetting: {$ref: '#/definitions/climate.passengerTemperatureSetting'}
            hvacState: {$ref: '#/definitions/climate.hvacState'}
            defoggingState: {$ref: '#/definitions/climate.defoggingState'}
            defrostingState: {$ref: '#/definitions/climate.defrostingState'}
            ionisingState: {$ref: '#/definitions/climate.ionisingState'}
            defrostingTemperatureSetting: {$ref: '#/definitions/climate.defrostingTemperatureSetting'}
            hvacWeekdayStartingTimes: {$ref: '#/definitions/climate.hvacWeekdayStartingTimes'}
            rearTemperatureSetting: {$ref: '#/definitions/climate.rearTemperatureSetting'}
            brand: {$ref: '#/definitions/universalProperties.brand'}
            vin: {$ref: '#/definitions/universalProperties.vin'}
    climate.availability:
        type: object
        properties:
            insideTemperature: {$ref: '#/definitions/climate.insideTemperature.availability'}
            outsideTemperature: {$ref: '#/definitions/climate.outsideTemperature.availability'}
            driverTemperatureSetting: {$ref: '#/definitions/climate.driverTemperatureSetting.availability'}
            passengerTemperatureSetting: {$ref: '#/definitions/climate.passengerTemperatureSetting.availability'}
            hvacState: {$ref: '#/definitions/climate.hvacState.availability'}
            defoggingState: {$ref: '#/definitions/climate.defoggingState.availability'}
            defrostingState: {$ref: '#/definitions/climate.defrostingState.availability'}
            ionisingState: {$ref: '#/definitions/climate.ionisingState.availability'}
            defrostingTemperatureSetting: {$ref: '#/definitions/climate.defrostingTemperatureSetting.availability'}
            hvacWeekdayStartingTimes: {$ref: '#/definitions/climate.hvacWeekdayStartingTimes.availability'}
            rearTemperatureSetting: {$ref: '#/definitions/climate.rearTemperatureSetting.availability'}
    dashboardLights.dashboardLights:
        example:
            - {data: {name: {value: high_beam}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: low_beam}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: hazard_warning}, state: {value: on}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: brake_failure}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: hatch_open}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: fuel_level}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: engine_coolant_temperature}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: battery_charging_condition}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: engine_oil}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: position_lights}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: front_fog_light}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: rear_fog_light}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: park_heating}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: engine_indicator}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: service_call}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: transmission_fluid_temperature}, state: {value: on}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: transmission_failure}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: anti_lock_brake_failure}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: worn_brake_linings}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: windscreen_washer_fluid}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: tire_failure}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: engine_oil_level}, state: {value: on}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: engine_coolant_level}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: steering_failure}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: esc_indication}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: brake_lights}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: adblue_level}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: fuel_filter_diff_pressure}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: seat_belt}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: advanced_braking}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: acc}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: trailer_connected}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: airbag}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: esc_switched_off}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: lane_departure_warning_off}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: air_filter_minder}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: air_suspension_ride_control_fault}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: all_wheel_drive_disabled}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: anti_theft}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: blind_spot_detection}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: charge_system_fault}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: check_fuel_cap}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: check_fuel_fill_inlet}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: check_fuel_filter}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: dc_temp_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: dc_warning_status}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: diesel_engine_idle_shutdown}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: diesel_engine_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: diesel_exhaust_fluid_system_fault}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: diesel_exhaust_over_temp}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: diesel_exhaust_fluid_quality}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: diesel_filter_regeneration}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: diesel_particulate_filter}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: diesel_pre_heat}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: electric_trailer_brake_connection}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_cell_max_volt_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_cell_min_volt_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_charge_energy_storage_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_high_level_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_high_temperature_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_insulation_resist_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_jump_level_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_low_level_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_max_volt_veh_energy_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_min_volt_veh_energy_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_over_charge_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_poor_cell_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: ev_battery_temp_diff_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: forward_collision_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: fuel_door_open}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: hill_descent_control_fault}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: hill_start_assist_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: hv_interlocking_status_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: lighting_system_failure}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: malfunction_indicator}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: motor_controller_temp_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: park_aid_malfunction}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: passive_entry_passive_start}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: powertrain_malfunction}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: restraints_indicator_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: start_stop_engine_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: traction_control_disabled}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: traction_control_active}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: traction_motor_temp_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: tire_pressure_monitor_system_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.215Z'}
            - {data: {name: {value: water_in_fuel}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {name: {value: tire_warning_front_right}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {name: {value: tire_warning_front_left}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {name: {value: tire_warning_rear_right}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {name: {value: tire_warning_rear_left}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {name: {value: tire_warning_system_error}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {name: {value: battery_low_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {name: {value: brake_fluid_warning}, state: {value: off}}, timestamp: '2021-04-19T11:48:18.216Z'}
        type: array
        items:
            type: object
            properties: {name: {type: string, enum: [high_beam, low_beam, hazard_warning, brake_failure, hatch_open, fuel_level, engine_coolant_temperature, battery_charging_condition, engine_oil, position_lights, front_fog_light, rear_fog_light, park_heating, engine_indicator, service_call, transmission_fluid_temperature, transmission_failure, anti_lock_brake_failure, worn_brake_linings, windscreen_washer_fluid, tire_failure, engine_oil_level, engine_coolant_level, steering_failure, esc_indication, brake_lights, adblue_level, fuel_filter_diff_pressure, seat_belt, advanced_braking, acc, trailer_connected, airbag, esc_switched_off, lane_departure_warning_off, air_filter_minder, air_suspension_ride_control_fault, all_wheel_drive_disabled, anti_theft, blind_spot_detection, charge_system_fault, check_fuel_cap, check_fuel_fill_inlet, check_fuel_filter, dc_temp_warning, dc_warning_status, diesel_engine_idle_shutdown, diesel_engine_warning, diesel_exhaust_fluid_system_fault, diesel_exhaust_over_temp, diesel_exhaust_fluid_quality, diesel_filter_regeneration, diesel_particulate_filter, diesel_pre_heat, electric_trailer_brake_connection, ev_battery_cell_max_volt_warning, ev_battery_cell_min_volt_warning, ev_battery_charge_energy_storage_warning, ev_battery_high_level_warning, ev_battery_high_temperature_warning, ev_battery_insulation_resist_warning, ev_battery_jump_level_warning, ev_battery_low_level_warning, ev_battery_max_volt_veh_energy_warning, ev_battery_min_volt_veh_energy_warning, ev_battery_over_charge_warning, ev_battery_poor_cell_warning, ev_battery_temp_diff_warning, forward_collision_warning, fuel_door_open, hill_descent_control_fault, hill_start_assist_warning, hv_interlocking_status_warning, lighting_system_failure, malfunction_indicator, motor_controller_temp_warning, park_aid_malfunction, passive_entry_passive_start, powertrain_malfunction, restraints_indicator_warning, start_stop_engine_warning, traction_control_disabled, traction_control_active, traction_motor_temp_warning, tire_pressure_monitor_system_warning, water_in_fuel, tire_warning_front_right, tire_warning_front_left, tire_warning_rear_right, tire_warning_rear_left, tire_warning_system_error, battery_low_warning, brake_fluid_warning]}, state: {type: string, enum: [off, on]}}
    dashboardLights.dashboardLights.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {name: {type: string, enum: [high_beam, low_beam, hazard_warning, brake_failure, hatch_open, fuel_level, engine_coolant_temperature, battery_charging_condition, engine_oil, position_lights, front_fog_light, rear_fog_light, park_heating, engine_indicator, service_call, transmission_fluid_temperature, transmission_failure, anti_lock_brake_failure, worn_brake_linings, windscreen_washer_fluid, tire_failure, engine_oil_level, engine_coolant_level, steering_failure, esc_indication, brake_lights, adblue_level, fuel_filter_diff_pressure, seat_belt, advanced_braking, acc, trailer_connected, airbag, esc_switched_off, lane_departure_warning_off, air_filter_minder, air_suspension_ride_control_fault, all_wheel_drive_disabled, anti_theft, blind_spot_detection, charge_system_fault, check_fuel_cap, check_fuel_fill_inlet, check_fuel_filter, dc_temp_warning, dc_warning_status, diesel_engine_idle_shutdown, diesel_engine_warning, diesel_exhaust_fluid_system_fault, diesel_exhaust_over_temp, diesel_exhaust_fluid_quality, diesel_filter_regeneration, diesel_particulate_filter, diesel_pre_heat, electric_trailer_brake_connection, ev_battery_cell_max_volt_warning, ev_battery_cell_min_volt_warning, ev_battery_charge_energy_storage_warning, ev_battery_high_level_warning, ev_battery_high_temperature_warning, ev_battery_insulation_resist_warning, ev_battery_jump_level_warning, ev_battery_low_level_warning, ev_battery_max_volt_veh_energy_warning, ev_battery_min_volt_veh_energy_warning, ev_battery_over_charge_warning, ev_battery_poor_cell_warning, ev_battery_temp_diff_warning, forward_collision_warning, fuel_door_open, hill_descent_control_fault, hill_start_assist_warning, hv_interlocking_status_warning, lighting_system_failure, malfunction_indicator, motor_controller_temp_warning, park_aid_malfunction, passive_entry_passive_start, powertrain_malfunction, restraints_indicator_warning, start_stop_engine_warning, traction_control_disabled, traction_control_active, traction_motor_temp_warning, tire_pressure_monitor_system_warning, water_in_fuel, tire_warning_front_right, tire_warning_front_left, tire_warning_rear_right, tire_warning_rear_left, tire_warning_system_error, battery_low_warning, brake_fluid_warning]}, state: {type: string, enum: [off, on]}}
    dashboardLights:
        type: object
        properties:
            dashboardLights: {$ref: '#/definitions/dashboardLights.dashboardLights'}
            brand: {$ref: '#/definitions/universalProperties.brand'}
            vin: {$ref: '#/definitions/universalProperties.vin'}
    dashboardLights.availability:
        type: object
        properties:
            dashboardLights: {$ref: '#/definitions/dashboardLights.dashboardLights.availability'}
    diagnostics.mileage:
        description: 'The vehicle mileage (odometer)'
        example:
            data: {value: 150000, unit: kilometers}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.mileage.availability:
        description: 'The vehicle mileage (odometer)'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.engineOilTemperature:
        description: 'Engine oil temperature'
        example:
            data: {value: 99.5, unit: celsius}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.engineOilTemperature.availability:
        description: 'Engine oil temperature'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.speed:
        description: 'The vehicle speed'
        example:
            data: {value: 60, unit: kilometers_per_hour}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.speed.availability:
        description: 'The vehicle speed'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.engineRPM:
        description: 'Engine RPM (revolutions per minute)'
        example:
            data: {value: 2500, unit: revolutions_per_minute}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.engineRPM.availability:
        description: 'Engine RPM (revolutions per minute)'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.fuelLevel:
        description: 'Fuel level percentage between 0.0-1.0'
        example:
            data: {value: 0.9}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: number
        format: double
    diagnostics.fuelLevel.availability:
        description: 'Fuel level percentage between 0.0-1.0'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: number
        format: double
    diagnostics.estimatedRange:
        description: 'Estimated range (with combustion engine)'
        example:
            data: {value: 265, unit: kilometers}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.estimatedRange.availability:
        description: 'Estimated range (with combustion engine)'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.washerFluidLevel:
        example:
            data: {value: filled}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: string
        enum:
            - low
            - filled
    diagnostics.washerFluidLevel.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - low
            - filled
    diagnostics.batteryVoltage:
        description: 'Battery voltage'
        example:
            data: {value: 12.1, unit: volts}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.batteryVoltage.availability:
        description: 'Battery voltage'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.adBlueLevel:
        description: 'AdBlue level percentage between 0.0-1.0'
        example:
            data: {value: 0.9}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: number
        format: double
    diagnostics.adBlueLevel.availability:
        description: 'AdBlue level percentage between 0.0-1.0'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: number
        format: double
    diagnostics.distanceSinceReset:
        description: 'The distance driven since reset'
        example:
            data: {value: 1500.1, unit: kilometers}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.distanceSinceReset.availability:
        description: 'The distance driven since reset'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.distanceSinceStart:
        description: 'The distance driven since trip start'
        example:
            data: {value: 12.4, unit: kilometers}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.distanceSinceStart.availability:
        description: 'The distance driven since trip start'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.fuelVolume:
        description: 'The fuel volume measured in liters'
        example:
            data: {value: 35.5, unit: liters}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.fuelVolume.availability:
        description: 'The fuel volume measured in liters'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.antiLockBraking:
        example:
            data: {value: active}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: string
        enum:
            - inactive
            - active
    diagnostics.antiLockBraking.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - inactive
            - active
    diagnostics.engineCoolantTemperature:
        description: 'Engine coolant temperature'
        example:
            data: {value: 20, unit: celsius}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.engineCoolantTemperature.availability:
        description: 'Engine coolant temperature'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.engineTotalOperatingHours:
        description: 'The accumulated time of engine operation'
        example:
            data: {value: 1500.65, unit: hours}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.engineTotalOperatingHours.availability:
        description: 'The accumulated time of engine operation'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.engineTotalFuelConsumption:
        description: 'The accumulated lifespan fuel consumption'
        example:
            data: {value: 27587, unit: liters}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.engineTotalFuelConsumption.availability:
        description: 'The accumulated lifespan fuel consumption'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.brakeFluidLevel:
        example:
            data: {value: low}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: string
        enum:
            - low
            - filled
    diagnostics.brakeFluidLevel.availability:
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - low
            - filled
    diagnostics.engineTorque:
        description: 'Current engine torque percentage between 0.0-1.0'
        example:
            data: {value: 0.2}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: number
        format: double
    diagnostics.engineTorque.availability:
        description: 'Current engine torque percentage between 0.0-1.0'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: number
        format: double
    diagnostics.engineLoad:
        description: 'Current engine load percentage between 0.0-1.0'
        example:
            data: {value: 0.1}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: number
        format: double
    diagnostics.engineLoad.availability:
        description: 'Current engine load percentage between 0.0-1.0'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: number
        format: double
    diagnostics.wheelBasedSpeed:
        description: 'The vehicle speed measured at the wheel base'
        example:
            data: {value: 65, unit: kilometers_per_hour}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.wheelBasedSpeed.availability:
        description: 'The vehicle speed measured at the wheel base'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.batteryLevel:
        description: 'Battery level in %, value between 0.0 and 1.0'
        example:
            data: {value: 0.56}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: number
        format: double
    diagnostics.batteryLevel.availability:
        description: 'Battery level in %, value between 0.0 and 1.0'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: number
        format: double
    diagnostics.checkControlMessages:
        example:
            - {data: {ID: {value: 1}, remainingTime: {value: 105592, unit: minutes}, text: {value: 'Check engine'}, status: {value: Alert}}, timestamp: '2021-04-19T11:48:18.216Z'}
        type: array
        items:
            type: object
            properties: {ID: {description: 'Check Control Message identifier', type: number, format: integer}, remainingTime: {description: 'Remaining time of the message'}, text: {description: 'CCM text', type: string}, status: {description: 'CCM status', type: string}}
    diagnostics.checkControlMessages.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {ID: {description: 'Check Control Message identifier', type: number, format: integer}, remainingTime: {description: 'Remaining time of the message'}, text: {description: 'CCM text', type: string}, status: {description: 'CCM status', type: string}}
    diagnostics.tirePressures:
        example:
            - {data: {location: {value: front_left}, pressure: {value: 2.31, unit: bars}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: front_right}, pressure: {value: 2.31, unit: bars}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_right}, pressure: {value: 2.24, unit: bars}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_left}, pressure: {value: 2.24, unit: bars}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_right_outer}, pressure: {value: 2.25, unit: bars}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_left_outer}, pressure: {value: 2.25, unit: bars}}, timestamp: '2021-04-19T11:48:18.216Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, pressure: {description: 'Tire pressure'}}
    diagnostics.tirePressures.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, pressure: {description: 'Tire pressure'}}
    diagnostics.tireTemperatures:
        example:
            - {data: {location: {value: front_left}, temperature: {value: 40.1, unit: celsius}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: front_right}, temperature: {value: 40.2, unit: celsius}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_right}, temperature: {value: 40.3, unit: celsius}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_left}, temperature: {value: 40.4, unit: celsius}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_right_outer}, temperature: {value: 40.5, unit: celsius}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_left_outer}, temperature: {value: 40.6, unit: celsius}}, timestamp: '2021-04-19T11:48:18.216Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, temperature: {description: 'Tire temperature'}}
    diagnostics.tireTemperatures.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, temperature: {description: 'Tire temperature'}}
    diagnostics.wheelRPMs:
        example:
            - {data: {location: {value: front_left}, RPM: {value: 737, unit: revolutions_per_minute}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: front_right}, RPM: {value: 747, unit: revolutions_per_minute}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_right}, RPM: {value: 777, unit: revolutions_per_minute}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_left}, RPM: {value: 787, unit: revolutions_per_minute}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_right_outer}, RPM: {value: 797, unit: revolutions_per_minute}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_left_outer}, RPM: {value: 807, unit: revolutions_per_minute}}, timestamp: '2021-04-19T11:48:18.216Z'}
        type: array
        items:
            type: object
            properties: {location: {description: 'Wheel location', type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, RPM: {description: 'The RPM measured at this wheel'}}
    diagnostics.wheelRPMs.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {location: {description: 'Wheel location', type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, RPM: {description: 'The RPM measured at this wheel'}}
    diagnostics.troubleCodes:
        example:
            - {data: {occurrences: {value: 2}, ID: {value: C1116FA}, ecuID: {value: RDU_212FR}, status: {value: PENDING}, system: {value: unknown}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {occurrences: {value: 2}, ID: {value: C163AFA}, ecuID: {value: DTR212}, status: {value: PENDING}, system: {value: body}}, timestamp: '2021-04-19T11:48:18.216Z'}
        type: array
        items:
            type: object
            properties: {occurrences: {description: 'Number of occurrences', type: number, format: integer}, ID: {description: Identifier, type: string}, ecuID: {description: 'Electronic Control Unit identifier', type: string}, status: {description: Status, type: string}, system: {type: string, enum: [unknown, body, chassis, powertrain, network]}}
    diagnostics.troubleCodes.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {occurrences: {description: 'Number of occurrences', type: number, format: integer}, ID: {description: Identifier, type: string}, ecuID: {description: 'Electronic Control Unit identifier', type: string}, status: {description: Status, type: string}, system: {type: string, enum: [unknown, body, chassis, powertrain, network]}}
    diagnostics.mileageMeters:
        description: 'The vehicle mileage (odometer) in meters'
        example:
            data: {value: 150001, unit: kilometers}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.mileageMeters.availability:
        description: 'The vehicle mileage (odometer) in meters'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.odometer:
        description: 'The vehicle odometer value in a given units'
        example:
            data: {value: 2050, unit: kilometers}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.odometer.availability:
        description: 'The vehicle odometer value in a given units'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.engineTotalOperatingTime:
        description: 'The accumulated time of engine operation'
        example:
            data: {value: 1500.65, unit: hours}
            timestamp: '2021-04-19T11:48:18.216Z'
    diagnostics.engineTotalOperatingTime.availability:
        description: 'The accumulated time of engine operation'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
    diagnostics.tirePressureStatuses:
        example:
            - {data: {location: {value: front_left}, status: {value: normal}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: front_right}, status: {value: low}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_right}, status: {value: alert}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_left}, status: {value: normal}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_right_outer}, status: {value: normal}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {location: {value: rear_left_outer}, status: {value: normal}}, timestamp: '2021-04-19T11:48:18.216Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, status: {type: string, enum: [normal, low, alert]}}
    diagnostics.tirePressureStatuses.availability:
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, status: {type: string, enum: [normal, low, alert]}}
    diagnostics.brakeLiningWearPreWarning:
        description: 'Status of brake lining wear pre-warning'
        example:
            data: {value: inactive}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: string
        enum:
            - inactive
            - active
    diagnostics.brakeLiningWearPreWarning.availability:
        description: 'Status of brake lining wear pre-warning'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: string
        enum:
            - inactive
            - active
    diagnostics.engineOilLifeRemaining:
        description: 'Remaining life of engine oil which decreases over time'
        example:
            data: {value: 0.88}
            timestamp: '2021-04-19T11:48:18.216Z'
        type: number
        format: double
    diagnostics.engineOilLifeRemaining.availability:
        description: 'Remaining life of engine oil which decreases over time'
        example:
            availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}
        type: number
        format: double
    diagnostics.oemTroubleCodeValues:
        description: 'Additional OEM trouble codes'
        example:
            - {data: {ID: {value: 123ID}, keyValue: {key: {value: some_error}, value: {value: some_value}}}, timestamp: '2021-04-19T11:48:18.216Z'}
            - {data: {ID: {value: 1B3C}, keyValue: {key: {value: important_error}, value: {value: 'system fault 32'}}}, timestamp: '2021-04-19T11:48:18.216Z'}
        type: array
        items:
            type: object
            properties: {ID: {description: 'Identifier for the trouble code', type: string}, keyValue: {description: 'Key-value pair for the trouble code', type: object, properties: {key: {description: 'Key for the value', type: string}, value: {description: 'Value for the key', type: string}}}}
    diagnostics.oemTroubleCodeValues.availability:
        description: 'Additional OEM trouble codes'
        example:
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
            - {availability: {updateRate: {value: trip_high}, rateLimit: {value: 64, unit: hertz}, appliesPer: {value: vehicle}}}
        type: array
        items:
            type: object
            properties: {ID: {description: 'Identifier for the trouble code', type: string}, keyValue: {description: 'Key-value pair for the trouble code', type: object, properties: {key: {description: 'Key for the value', type: string}, value: {description: 'Value for the key', type: string}}}}
    diagnostics.dieselExhaustFluidRange:
        description: 'Distance remaining until diesel exhaust fluid is empty'
        example:
[...]
