info:
    title: 'HM REST Auto API'
    version: 4.0.0
    description: 'High Mobility REST Auto API Level 12 specification'
swagger: '2.0'
host: sandbox.rest-api.high-mobility.com
basePath: /v4
parameters:
    authorizationParam:
        name: Authorization
        in: header
        required: true
        type: string
definitions:
    browser.url:
        description: 'The URL'
        example:
            value: 'https://about.high-mobility.com'
            timestamp: '2021-01-05T09:40:15.363Z'
        type: string
    capabilities.capabilities:
        example:
            - {value: {capability_id: 32, supported_property_ids: [2, 3, 4, 5, 6]}, timestamp: '2021-01-05T09:40:15.364Z'}
            - {value: {capability_id: 35, supported_property_ids: [2, 8, 17]}, timestamp: '2021-01-05T09:40:15.364Z'}
        type: array
        items:
            type: object
            properties: {capabilityID: {description: 'The identifier of the supported capability', type: number, format: integer}, supportedPropertyIDs: {description: 'Array of supported property identifiers', type: array, items: {type: number, format: integer}}}
    capabilities.webhooks:
        example:
            - {value: {available: available, event: trip_started}, timestamp: '2021-01-05T09:40:15.364Z'}
            - {value: {available: available, event: trip_ended}, timestamp: '2021-01-05T09:40:15.364Z'}
        type: array
        items:
            type: object
            properties: {available: {description: 'If the specified webhook is available.', type: string, enum: [unavailable, available]}, event: {type: string, enum: [ping, trip_started, trip_ended, vehicle_location_changed, authorization_changed, tire_pressure_changed]}}
    capabilities:
        type: object
        properties:
            capabilities: {$ref: '#/definitions/capabilities.capabilities'}
            webhooks: {$ref: '#/definitions/capabilities.webhooks'}
    charging.estimatedRange:
        description: 'Estimated range'
        example:
            value: {kilometers: 432.1}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.batteryLevel:
        description: 'Battery level percentage between 0.0-1.0'
        example:
            value: 0.5
            timestamp: '2021-01-05T09:40:15.364Z'
        type: number
        format: double
    charging.batteryCurrentAC:
        description: 'Battery alternating current'
        example:
            value: {amperes: -0.6}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.batteryCurrentDC:
        description: 'Battery direct current'
        example:
            value: {amperes: -0.6}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.chargerVoltageAC:
        description: 'Charger voltage for alternating current'
        example:
            value: {volts: 400}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.chargerVoltageDC:
        description: 'Charger voltage for direct current'
        example:
            value: {volts: 400}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.chargeLimit:
        description: 'Charge limit percentage between 0.0-1.0'
        example:
            value: 0.9
            timestamp: '2021-01-05T09:40:15.364Z'
        type: number
        format: double
    charging.timeToCompleteCharge:
        description: 'Time until charging completed'
        example:
            value: {minutes: 60}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.chargingRateKW:
        description: 'Charging rate'
        example:
            value: {kilowatts: 3.5}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.chargePortState:
        example:
            value: open
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - closed
            - open
    charging.chargeMode:
        example:
            value: timer_based
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - immediate
            - timer_based
            - inductive
    charging.maxChargingCurrent:
        description: 'Maximum charging current'
        example:
            value: {amperes: 25}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.plugType:
        example:
            value: type_2
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - type_1
            - type_2
            - ccs
            - chademo
    charging.chargingWindowChosen:
        example:
            value: not_chosen
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - not_chosen
            - chosen
    charging.departureTimes:
        example:
            - {value: {state: active, time: {hour: 16, minute: 32}}, timestamp: '2021-01-05T09:40:15.364Z'}
            - {value: {state: inactive, time: {hour: 11, minute: 51}}, timestamp: '2021-01-05T09:40:15.364Z'}
        type: array
        items:
            type: object
            properties: {state: {type: string, enum: [inactive, active]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    charging.reductionTimes:
        example:
            - {value: {start_stop: start, time: {hour: 17, minute: 33}}, timestamp: '2021-01-05T09:40:15.364Z'}
            - {value: {start_stop: stop, time: {hour: 12, minute: 52}}, timestamp: '2021-01-05T09:40:15.364Z'}
        type: array
        items:
            type: object
            properties: {startStop: {type: string, enum: [start, stop]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    charging.batteryTemperature:
        description: 'Battery temperature'
        example:
            value: {celsius: 38.4}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.timers:
        example:
            - {value: {timer_type: preferred_start_time, date: '2017-01-10T16:32:05.000Z'}, timestamp: '2021-01-05T09:40:15.364Z'}
            - {value: {timer_type: preferred_end_time, date: '2017-01-10T16:36:05.000Z'}, timestamp: '2021-01-05T09:40:15.364Z'}
            - {value: {timer_type: departure_date, date: '2017-01-10T16:36:05.000Z'}, timestamp: '2021-01-05T09:40:15.364Z'}
        type: array
        items:
            type: object
            properties: {timerType: {type: string, enum: [preferred_start_time, preferred_end_time, departure_date]}, date: {description: 'Timer date', type: string, format: date-time}}
    charging.pluggedIn:
        example:
            value: plugged_in
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - disconnected
            - plugged_in
    charging.status:
        example:
            value: charging
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - not_charging
            - charging
            - charging_complete
            - initialising
            - charging_paused
            - charging_error
            - cable_unplugged
            - slow_charging
            - fast_charging
            - discharging
            - foreign_object_detected
    charging.chargingRate:
        description: 'Charge rate when charging'
        example:
            value: {kilowatts: 150}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.batteryCurrent:
        description: 'Battery current'
        example:
            value: {amperes: -0.6}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.chargerVoltage:
        description: 'Charger voltage'
        example:
            value: {volts: 400}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.currentType:
        description: 'Type of current in use'
        example:
            value: alternating_current
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - alternating_current
            - direct_current
    charging.maxRange:
        description: 'Maximum electric range with 100% of battery'
        example:
            value: {kilometers: 555}
            timestamp: '2021-01-05T09:40:15.364Z'
    charging.starterBatteryState:
        description: 'State of the starter battery'
        example:
            value: green
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - red
            - yellow
            - green
    charging.smartChargingStatus:
        description: 'Status of optimized/intelligent charging'
        example:
            value: scc_is_active
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - wallbox_is_active
            - scc_is_active
            - peak_setting_active
    charging.batteryLevelAtDeparture:
        description: 'Battery charge level expected at time of departure'
        example:
            value: 0.9
            timestamp: '2021-01-05T09:40:15.364Z'
        type: number
        format: double
    charging.preconditioningDepartureStatus:
        description: 'Status of preconditioning at departure time'
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - inactive
            - active
    charging.preconditioningImmediateStatus:
        description: 'Status of immediate preconditioning'
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - inactive
            - active
    charging.preconditioningDepartureEnabled:
        description: 'Preconditioning activation status at departure'
        example:
            value: enabled
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - disabled
            - enabled
    charging.preconditioningError:
        description: 'Preconditioning error if one is encountered'
        example:
            value: not_possible_low
            timestamp: '2021-01-05T09:40:15.364Z'
        type: string
        enum:
            - no_change
            - not_possible_low
            - not_possible_finished
            - available_after_engine_restart
            - general_error
    charging:
        type: object
        properties:
            estimatedRange: {$ref: '#/definitions/charging.estimatedRange'}
            batteryLevel: {$ref: '#/definitions/charging.batteryLevel'}
            batteryCurrentAC: {$ref: '#/definitions/charging.batteryCurrentAC'}
            batteryCurrentDC: {$ref: '#/definitions/charging.batteryCurrentDC'}
            chargerVoltageAC: {$ref: '#/definitions/charging.chargerVoltageAC'}
            chargerVoltageDC: {$ref: '#/definitions/charging.chargerVoltageDC'}
            chargeLimit: {$ref: '#/definitions/charging.chargeLimit'}
            timeToCompleteCharge: {$ref: '#/definitions/charging.timeToCompleteCharge'}
            chargingRateKW: {$ref: '#/definitions/charging.chargingRateKW'}
            chargePortState: {$ref: '#/definitions/charging.chargePortState'}
            chargeMode: {$ref: '#/definitions/charging.chargeMode'}
            maxChargingCurrent: {$ref: '#/definitions/charging.maxChargingCurrent'}
            plugType: {$ref: '#/definitions/charging.plugType'}
            chargingWindowChosen: {$ref: '#/definitions/charging.chargingWindowChosen'}
            departureTimes: {$ref: '#/definitions/charging.departureTimes'}
            reductionTimes: {$ref: '#/definitions/charging.reductionTimes'}
            batteryTemperature: {$ref: '#/definitions/charging.batteryTemperature'}
            timers: {$ref: '#/definitions/charging.timers'}
            pluggedIn: {$ref: '#/definitions/charging.pluggedIn'}
            status: {$ref: '#/definitions/charging.status'}
            chargingRate: {$ref: '#/definitions/charging.chargingRate'}
            batteryCurrent: {$ref: '#/definitions/charging.batteryCurrent'}
            chargerVoltage: {$ref: '#/definitions/charging.chargerVoltage'}
            currentType: {$ref: '#/definitions/charging.currentType'}
            maxRange: {$ref: '#/definitions/charging.maxRange'}
            starterBatteryState: {$ref: '#/definitions/charging.starterBatteryState'}
            smartChargingStatus: {$ref: '#/definitions/charging.smartChargingStatus'}
            batteryLevelAtDeparture: {$ref: '#/definitions/charging.batteryLevelAtDeparture'}
            preconditioningDepartureStatus: {$ref: '#/definitions/charging.preconditioningDepartureStatus'}
            preconditioningImmediateStatus: {$ref: '#/definitions/charging.preconditioningImmediateStatus'}
            preconditioningDepartureEnabled: {$ref: '#/definitions/charging.preconditioningDepartureEnabled'}
            preconditioningError: {$ref: '#/definitions/charging.preconditioningError'}
    chassisSettings.drivingMode:
        example:
            value: eco
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - regular
            - eco
            - sport
            - sport_plus
            - ecoPlus
            - comfort
    chassisSettings.sportChrono:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - inactive
            - active
            - reset
    chassisSettings.currentSpringRates:
        description: 'The current values for the spring rates'
        example:
            - {value: {axle: front, spring_rate: {newton_millimeters: 21}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {axle: rear, spring_rate: {newton_millimeters: 23}}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.maximumSpringRates:
        description: 'The maximum possible values for the spring rates'
        example:
            - {value: {axle: front, spring_rate: {newton_millimeters: 37}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {axle: rear, spring_rate: {newton_millimeters: 39}}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.minimumSpringRates:
        description: 'The minimum possible values for the spring rates'
        example:
            - {value: {axle: front, spring_rate: {newton_millimeters: 16}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {axle: rear, spring_rate: {newton_millimeters: 18}}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.currentChassisPosition:
        description: 'The chassis position calculated from the lowest point'
        example:
            value: {millimeters: 25.4}
            timestamp: '2021-01-05T09:40:15.365Z'
    chassisSettings.maximumChassisPosition:
        description: 'The maximum possible value for the chassis position'
        example:
            value: {millimeters: 55.5}
            timestamp: '2021-01-05T09:40:15.365Z'
    chassisSettings.minimumChassisPosition:
        description: 'The minimum possible value for the chassis position'
        example:
            value: {millimeters: -28.4}
            timestamp: '2021-01-05T09:40:15.365Z'
    chassisSettings:
        type: object
        properties:
            drivingMode: {$ref: '#/definitions/chassisSettings.drivingMode'}
            sportChrono: {$ref: '#/definitions/chassisSettings.sportChrono'}
            currentSpringRates: {$ref: '#/definitions/chassisSettings.currentSpringRates'}
            maximumSpringRates: {$ref: '#/definitions/chassisSettings.maximumSpringRates'}
            minimumSpringRates: {$ref: '#/definitions/chassisSettings.minimumSpringRates'}
            currentChassisPosition: {$ref: '#/definitions/chassisSettings.currentChassisPosition'}
            maximumChassisPosition: {$ref: '#/definitions/chassisSettings.maximumChassisPosition'}
            minimumChassisPosition: {$ref: '#/definitions/chassisSettings.minimumChassisPosition'}
    climate.insideTemperature:
        description: 'The inside temperature'
        example:
            value: {celsius: 19.1}
            timestamp: '2021-01-05T09:40:15.365Z'
    climate.outsideTemperature:
        description: 'The outside temperature'
        example:
            value: {celsius: 12.2}
            timestamp: '2021-01-05T09:40:15.365Z'
    climate.driverTemperatureSetting:
        description: 'The driver temperature setting'
        example:
            value: {celsius: 21.5}
            timestamp: '2021-01-05T09:40:15.365Z'
    climate.passengerTemperatureSetting:
        description: 'The passenger temperature setting'
        example:
            value: {celsius: 21.7}
            timestamp: '2021-01-05T09:40:15.365Z'
    climate.hvacState:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - inactive
            - active
    climate.defoggingState:
        example:
            value: inactive
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - inactive
            - active
    climate.defrostingState:
        example:
            value: inactive
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - inactive
            - active
    climate.ionisingState:
        example:
            value: inactive
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - inactive
            - active
    climate.defrostingTemperatureSetting:
        description: 'The defrosting temperature setting'
        example:
            value: {celsius: 21.2}
            timestamp: '2021-01-05T09:40:15.365Z'
    climate.hvacWeekdayStartingTimes:
        example:
            - {value: {weekday: monday, time: {hour: 16, minute: 0}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {weekday: tuesday, time: {hour: 16, minute: 0}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {weekday: wednesday, time: {hour: 16, minute: 0}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {weekday: thursday, time: {hour: 16, minute: 0}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {weekday: friday, time: {hour: 16, minute: 0}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {weekday: saturday, time: {hour: 18, minute: 30}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {weekday: sunday, time: {hour: 19, minute: 31}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {weekday: automatic, time: {hour: 16, minute: 0}}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {weekday: {type: string, enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday, automatic]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    climate.rearTemperatureSetting:
        description: 'The rear temperature'
        example:
            value: {celsius: 21.6}
            timestamp: '2021-01-05T09:40:15.365Z'
    climate:
        type: object
        properties:
            insideTemperature: {$ref: '#/definitions/climate.insideTemperature'}
            outsideTemperature: {$ref: '#/definitions/climate.outsideTemperature'}
            driverTemperatureSetting: {$ref: '#/definitions/climate.driverTemperatureSetting'}
            passengerTemperatureSetting: {$ref: '#/definitions/climate.passengerTemperatureSetting'}
            hvacState: {$ref: '#/definitions/climate.hvacState'}
            defoggingState: {$ref: '#/definitions/climate.defoggingState'}
            defrostingState: {$ref: '#/definitions/climate.defrostingState'}
            ionisingState: {$ref: '#/definitions/climate.ionisingState'}
            defrostingTemperatureSetting: {$ref: '#/definitions/climate.defrostingTemperatureSetting'}
            hvacWeekdayStartingTimes: {$ref: '#/definitions/climate.hvacWeekdayStartingTimes'}
            rearTemperatureSetting: {$ref: '#/definitions/climate.rearTemperatureSetting'}
    dashboardLights.dashboardLights:
        example:
            - {value: {name: high_beam, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: low_beam, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: hazard_warning, state: on}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: brake_failure, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: hatch_open, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: fuel_level, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: engine_coolant_temperature, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: battery_charging_condition, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: engine_oil, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: position_lights, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: front_fog_light, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: rear_fog_light, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: park_heating, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: engine_indicator, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: service_call, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: transmission_fluid_temperature, state: on}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: transmission_failure, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: anti_lock_brake_failure, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: worn_brake_linings, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: windscreen_washer_fluid, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: tire_failure, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: engine_oil_level, state: on}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: engine_coolant_level, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: steering_failure, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: esc_indication, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: brake_lights, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: adblue_level, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: fuel_filter_diff_pressure, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: seat_belt, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: advanced_braking, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: acc, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: trailer_connected, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: airbag, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: esc_switched_off, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: lane_departure_warning_off, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: air_filter_minder, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: air_suspension_ride_control_fault, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: all_wheel_drive_disabled, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: anti_theft, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: blind_spot_detection, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: charge_system_fault, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: check_fuel_cap, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: check_fuel_fill_inlet, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: check_fuel_filter, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: dc_temp_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: dc_warning_status, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: diesel_engine_idle_shutdown, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: diesel_engine_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: diesel_exhaust_fluid_system_fault, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: diesel_exhaust_over_temp, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: diesel_exhaust_fluid_quality, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: diesel_filter_regeneration, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: diesel_particulate_filter, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: diesel_pre_heat, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: electric_trailer_brake_connection, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_cell_max_volt_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_cell_min_volt_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_charge_energy_storage_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_high_level_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_high_temperature_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_insulation_resist_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_jump_level_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_low_level_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_max_volt_veh_energy_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_min_volt_veh_energy_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_over_charge_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_poor_cell_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: ev_battery_temp_diff_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: forward_collision_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: fuel_door_open, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: hill_descent_control_fault, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: hill_start_assist_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: hv_interlocking_status_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: lighting_system_failure, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: malfunction_indicator, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: motor_controller_temp_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: park_aid_malfunction, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: passive_entry_passive_start, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: powertrain_malfunction, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: restraints_indicator_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: start_stop_engine_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: traction_control_disabled, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: traction_control_active, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: traction_motor_temp_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: tire_pressure_monitor_system_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: water_in_fuel, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: tire_warning_front_right, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: tire_warning_front_left, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: tire_warning_rear_right, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: tire_warning_rear_left, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: tire_warning_system_error, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: battery_low_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {name: brake_fluid_warning, state: off}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {name: {type: string, enum: [high_beam, low_beam, hazard_warning, brake_failure, hatch_open, fuel_level, engine_coolant_temperature, battery_charging_condition, engine_oil, position_lights, front_fog_light, rear_fog_light, park_heating, engine_indicator, service_call, transmission_fluid_temperature, transmission_failure, anti_lock_brake_failure, worn_brake_linings, windscreen_washer_fluid, tire_failure, engine_oil_level, engine_coolant_level, steering_failure, esc_indication, brake_lights, adblue_level, fuel_filter_diff_pressure, seat_belt, advanced_braking, acc, trailer_connected, airbag, esc_switched_off, lane_departure_warning_off, air_filter_minder, air_suspension_ride_control_fault, all_wheel_drive_disabled, anti_theft, blind_spot_detection, charge_system_fault, check_fuel_cap, check_fuel_fill_inlet, check_fuel_filter, dc_temp_warning, dc_warning_status, diesel_engine_idle_shutdown, diesel_engine_warning, diesel_exhaust_fluid_system_fault, diesel_exhaust_over_temp, diesel_exhaust_fluid_quality, diesel_filter_regeneration, diesel_particulate_filter, diesel_pre_heat, electric_trailer_brake_connection, ev_battery_cell_max_volt_warning, ev_battery_cell_min_volt_warning, ev_battery_charge_energy_storage_warning, ev_battery_high_level_warning, ev_battery_high_temperature_warning, ev_battery_insulation_resist_warning, ev_battery_jump_level_warning, ev_battery_low_level_warning, ev_battery_max_volt_veh_energy_warning, ev_battery_min_volt_veh_energy_warning, ev_battery_over_charge_warning, ev_battery_poor_cell_warning, ev_battery_temp_diff_warning, forward_collision_warning, fuel_door_open, hill_descent_control_fault, hill_start_assist_warning, hv_interlocking_status_warning, lighting_system_failure, malfunction_indicator, motor_controller_temp_warning, park_aid_malfunction, passive_entry_passive_start, powertrain_malfunction, restraints_indicator_warning, start_stop_engine_warning, traction_control_disabled, traction_control_active, traction_motor_temp_warning, tire_pressure_monitor_system_warning, water_in_fuel, tire_warning_front_right, tire_warning_front_left, tire_warning_rear_right, tire_warning_rear_left, tire_warning_system_error, battery_low_warning, brake_fluid_warning]}, state: {type: string, enum: [off, on]}}
    dashboardLights:
        type: object
        properties:
            dashboardLights: {$ref: '#/definitions/dashboardLights.dashboardLights'}
    diagnostics.mileage:
        description: 'The vehicle mileage (odometer)'
        example:
            value: {kilometers: 150000}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.engineOilTemperature:
        description: 'Engine oil temperature'
        example:
            value: {celsius: 99.5}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.speed:
        description: 'The vehicle speed'
        example:
            value: {kilometers_per_hour: 60}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.engineRPM:
        description: 'Engine RPM (revolutions per minute)'
        example:
            value: {revolutions_per_minute: 2500}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.fuelLevel:
        description: 'Fuel level percentage between 0.0-1.0'
        example:
            value: 0.9
            timestamp: '2021-01-05T09:40:15.365Z'
        type: number
        format: double
    diagnostics.estimatedRange:
        description: 'Estimated range (with combustion engine)'
        example:
            value: {kilometers: 265}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.washerFluidLevel:
        example:
            value: filled
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - low
            - filled
    diagnostics.batteryVoltage:
        description: 'Battery voltage'
        example:
            value: {volts: 12.1}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.adBlueLevel:
        description: 'AdBlue level percentage between 0.0-1.0'
        example:
            value: 0.9
            timestamp: '2021-01-05T09:40:15.365Z'
        type: number
        format: double
    diagnostics.distanceSinceReset:
        description: 'The distance driven since reset'
        example:
            value: {kilometers: 1500.1}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.distanceSinceStart:
        description: 'The distance driven since trip start'
        example:
            value: {kilometers: 12.4}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.fuelVolume:
        description: 'The fuel volume measured in liters'
        example:
            value: {liters: 35.5}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.antiLockBraking:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - inactive
            - active
    diagnostics.engineCoolantTemperature:
        description: 'Engine coolant temperature'
        example:
            value: {celsius: 20}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.engineTotalOperatingHours:
        description: 'The accumulated time of engine operation'
        example:
            value: {hours: 1500.65}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.engineTotalFuelConsumption:
        description: 'The accumulated lifespan fuel consumption'
        example:
            value: {liters: 27587}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.brakeFluidLevel:
        example:
            value: low
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - low
            - filled
    diagnostics.engineTorque:
        description: 'Current engine torque percentage between 0.0-1.0'
        example:
            value: 0.2
            timestamp: '2021-01-05T09:40:15.365Z'
        type: number
        format: double
    diagnostics.engineLoad:
        description: 'Current engine load percentage between 0.0-1.0'
        example:
            value: 0.1
            timestamp: '2021-01-05T09:40:15.365Z'
        type: number
        format: double
    diagnostics.wheelBasedSpeed:
        description: 'The vehicle speed measured at the wheel base'
        example:
            value: {kilometers_per_hour: 65}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.batteryLevel:
        description: 'Battery level in %, value between 0.0 and 1.0'
        example:
            value: 0.56
            timestamp: '2021-01-05T09:40:15.365Z'
        type: number
        format: double
    diagnostics.checkControlMessages:
        example:
            - {value: {id: 1, remaining_time: {minutes: 105592}, text: 'Check engine', status: Alert}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {ID: {description: 'Check Control Message identifier', type: number, format: integer}, remainingTime: {description: 'Remaining time of the message'}, text: {description: 'CCM text', type: string}, status: {description: 'CCM status', type: string}}
    diagnostics.tirePressures:
        example:
            - {value: {location: front_left, pressure: {bars: 2.31}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: front_right, pressure: {bars: 2.31}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_right, pressure: {bars: 2.24}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_left, pressure: {bars: 2.24}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_right_outer, pressure: {bars: 2.25}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_left_outer, pressure: {bars: 2.25}}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, pressure: {description: 'Tire pressure'}}
    diagnostics.tireTemperatures:
        example:
            - {value: {location: front_left, temperature: {celsius: 40.1}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: front_right, temperature: {celsius: 40.2}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_right, temperature: {celsius: 40.3}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_left, temperature: {celsius: 40.4}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_right_outer, temperature: {celsius: 40.5}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_left_outer, temperature: {celsius: 40.6}}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, temperature: {description: 'Tire temperature'}}
    diagnostics.wheelRPMs:
        example:
            - {value: {location: front_left, rpm: {revolutions_per_minute: 737}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: front_right, rpm: {revolutions_per_minute: 747}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_right, rpm: {revolutions_per_minute: 777}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_left, rpm: {revolutions_per_minute: 787}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_right_outer, rpm: {revolutions_per_minute: 797}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_left_outer, rpm: {revolutions_per_minute: 807}}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {location: {description: 'Wheel location', type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, RPM: {description: 'The RPM measured at this wheel'}}
    diagnostics.troubleCodes:
        example:
            - {value: {occurrences: 2, id: C1116FA, ecu_id: RDU_212FR, status: PENDING, system: unknown}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {occurrences: 2, id: C163AFA, ecu_id: DTR212, status: PENDING, system: body}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {occurrences: {description: 'Number of occurrences', type: number, format: integer}, ID: {description: Identifier, type: string}, ecuID: {description: 'Electronic Control Unit identifier', type: string}, status: {description: Status, type: string}, system: {type: string, enum: [unknown, body, chassis, powertrain, network]}}
    diagnostics.mileageMeters:
        description: 'The vehicle mileage (odometer) in meters'
        example:
            value: {kilometers: 150001}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.odometer:
        description: 'The vehicle odometer value in a given units.'
        example:
            value: {megameters: 6.4}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.engineTotalOperatingTime:
        description: 'The accumulated time of engine operation'
        example:
            value: {hours: 1500.65}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.tirePressureStatuses:
        example:
            - {value: {location: front_left, status: normal}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: front_right, status: low}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_right, status: alert}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_left, status: normal}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_right_outer, status: normal}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {location: rear_left_outer, status: normal}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, status: {type: string, enum: [normal, low, alert]}}
    diagnostics.brakeLiningWearPreWarning:
        description: 'Status of brake lining wear pre-warning'
        example:
            value: inactive
            timestamp: '2021-01-05T09:40:15.365Z'
        type: string
        enum:
            - inactive
            - active
    diagnostics.engineOilLifeRemaining:
        description: 'Remaining life of engine oil which decreases over time'
        example:
            value: 0.88
            timestamp: '2021-01-05T09:40:15.365Z'
        type: number
        format: double
    diagnostics.oemTroubleCodeValues:
        description: 'Additional OEM trouble codes'
        example:
            - {value: {id: 123ID, key_value: {key: some_error, value: some_value}}, timestamp: '2021-01-05T09:40:15.365Z'}
            - {value: {id: 1B3C, key_value: {key: important_error, value: 'system fault 32'}}, timestamp: '2021-01-05T09:40:15.365Z'}
        type: array
        items:
            type: object
            properties: {ID: {description: 'Identifier for the trouble code', type: string}, keyValue: {description: 'Key-value pair for the trouble code', type: object, properties: {key: {description: 'Key for the value', type: string}, value: {description: 'Value for the key', type: string}}}}
    diagnostics.dieselExhaustFluidRange:
        description: 'Distance remaining until diesel exhaust fluid is empty'
        example:
            value: {kilometers: 2233}
            timestamp: '2021-01-05T09:40:15.365Z'
    diagnostics.dieselParticulateFilterSootLevel:
        description: 'Level of soot in diesel exhaust particulate filter'
        example:
            value: 0.16
            timestamp: '2021-01-05T09:40:15.366Z'
        type: number
        format: double
    diagnostics.confirmedTroubleCodes:
        example:
            - {value: {id: 801C10, ecu_address: '16', ecu_variant_name: CAS, status: ACTIVE}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {id: D52C44, ecu_address: '48', ecu_variant_name: CAS, status: ACTIVE}, timestamp: '2021-01-05T09:40:15.366Z'}
        type: array
        items:
            type: object
            properties: {ID: {description: Identifier, type: string}, ecuAddress: {description: 'Electronic Control Unit address', type: string}, ecuVariantName: {description: 'Electronic Control Unit variant name', type: string}, status: {description: Status, type: string}}
    diagnostics.dieselExhaustFilterStatus:
        example:
            value: {status: unknown, component: exhaust_filter, cleaning: unknown}
            timestamp: '2021-01-05T09:40:15.366Z'
        type: object
        properties:
            status: {type: string, enum: [unknown, normal_operation, overloaded, at_limit, over_limit]}
            component: {type: string, enum: [unknown, exhaust_filter, diesel_particulate_filter, overboost_code_regulator, off_board_regeneration]}
            cleaning: {type: string, enum: [unknown, in_progress, complete, interrupted]}
    diagnostics:
        type: object
        properties:
            mileage: {$ref: '#/definitions/diagnostics.mileage'}
            engineOilTemperature: {$ref: '#/definitions/diagnostics.engineOilTemperature'}
            speed: {$ref: '#/definitions/diagnostics.speed'}
            engineRPM: {$ref: '#/definitions/diagnostics.engineRPM'}
            fuelLevel: {$ref: '#/definitions/diagnostics.fuelLevel'}
            estimatedRange: {$ref: '#/definitions/diagnostics.estimatedRange'}
            washerFluidLevel: {$ref: '#/definitions/diagnostics.washerFluidLevel'}
            batteryVoltage: {$ref: '#/definitions/diagnostics.batteryVoltage'}
            adBlueLevel: {$ref: '#/definitions/diagnostics.adBlueLevel'}
            distanceSinceReset: {$ref: '#/definitions/diagnostics.distanceSinceReset'}
            distanceSinceStart: {$ref: '#/definitions/diagnostics.distanceSinceStart'}
            fuelVolume: {$ref: '#/definitions/diagnostics.fuelVolume'}
            antiLockBraking: {$ref: '#/definitions/diagnostics.antiLockBraking'}
            engineCoolantTemperature: {$ref: '#/definitions/diagnostics.engineCoolantTemperature'}
            engineTotalOperatingHours: {$ref: '#/definitions/diagnostics.engineTotalOperatingHours'}
            engineTotalFuelConsumption: {$ref: '#/definitions/diagnostics.engineTotalFuelConsumption'}
            brakeFluidLevel: {$ref: '#/definitions/diagnostics.brakeFluidLevel'}
            engineTorque: {$ref: '#/definitions/diagnostics.engineTorque'}
            engineLoad: {$ref: '#/definitions/diagnostics.engineLoad'}
            wheelBasedSpeed: {$ref: '#/definitions/diagnostics.wheelBasedSpeed'}
            batteryLevel: {$ref: '#/definitions/diagnostics.batteryLevel'}
            checkControlMessages: {$ref: '#/definitions/diagnostics.checkControlMessages'}
            tirePressures: {$ref: '#/definitions/diagnostics.tirePressures'}
            tireTemperatures: {$ref: '#/definitions/diagnostics.tireTemperatures'}
            wheelRPMs: {$ref: '#/definitions/diagnostics.wheelRPMs'}
            troubleCodes: {$ref: '#/definitions/diagnostics.troubleCodes'}
            mileageMeters: {$ref: '#/definitions/diagnostics.mileageMeters'}
            odometer: {$ref: '#/definitions/diagnostics.odometer'}
            engineTotalOperatingTime: {$ref: '#/definitions/diagnostics.engineTotalOperatingTime'}
            tirePressureStatuses: {$ref: '#/definitions/diagnostics.tirePressureStatuses'}
            brakeLiningWearPreWarning: {$ref: '#/definitions/diagnostics.brakeLiningWearPreWarning'}
            engineOilLifeRemaining: {$ref: '#/definitions/diagnostics.engineOilLifeRemaining'}
            oemTroubleCodeValues: {$ref: '#/definitions/diagnostics.oemTroubleCodeValues'}
            dieselExhaustFluidRange: {$ref: '#/definitions/diagnostics.dieselExhaustFluidRange'}
            dieselParticulateFilterSootLevel: {$ref: '#/definitions/diagnostics.dieselParticulateFilterSootLevel'}
            confirmedTroubleCodes: {$ref: '#/definitions/diagnostics.confirmedTroubleCodes'}
            dieselExhaustFilterStatus: {$ref: '#/definitions/diagnostics.dieselExhaustFilterStatus'}
    doors.insideLocks:
        description: 'Inside lock states for the given doors'
        example:
            - {value: {location: front_left, lock_state: locked}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: front_right, lock_state: unlocked}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: rear_right, lock_state: unlocked}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: rear_left, lock_state: unlocked}, timestamp: '2021-01-05T09:40:15.366Z'}
        type: array
        items:
            type: object
            properties: {location: {description: 'Door location', type: string, enum: [front_left, front_right, rear_right, rear_left]}, lockState: {description: 'Lock state for the door', type: string, enum: [unlocked, locked]}}
    doors.locks:
        description: 'Lock states for the given doors'
        example:
            - {value: {location: front_left, lock_state: unlocked}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: front_right, lock_state: unlocked}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: rear_right, lock_state: locked}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: rear_left, lock_state: locked}, timestamp: '2021-01-05T09:40:15.366Z'}
        type: array
        items:
            type: object
            properties: {location: {description: 'Door location', type: string, enum: [front_left, front_right, rear_right, rear_left]}, lockState: {description: 'Lock state for the door', type: string, enum: [unlocked, locked]}}
    doors.positions:
        description: 'Door positions for the given doors'
        example:
            - {value: {location: front_left, position: open}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: front_right, position: closed}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: rear_right, position: closed}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: rear_left, position: closed}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {location: all, position: closed}, timestamp: '2021-01-05T09:40:15.366Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, all]}, position: {type: string, enum: [closed, open]}}
    doors.insideLocksState:
        description: 'Inside locks state for the whole vehicle (combines all specific lock states if available)'
        example:
            value: locked
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
        enum:
            - unlocked
            - locked
    doors.locksState:
        description: 'Locks state for the whole vehicle (combines all specific lock states if available)'
        example:
            value: unlocked
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
        enum:
            - unlocked
            - locked
    doors:
        type: object
        properties:
            insideLocks: {$ref: '#/definitions/doors.insideLocks'}
            locks: {$ref: '#/definitions/doors.locks'}
            positions: {$ref: '#/definitions/doors.positions'}
            insideLocksState: {$ref: '#/definitions/doors.insideLocksState'}
            locksState: {$ref: '#/definitions/doors.locksState'}
    engine.status:
        example:
            value: off
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
        enum:
            - off
            - on
    engine.startStopState:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
        enum:
            - inactive
            - active
    engine:
        type: object
        properties:
            status: {$ref: '#/definitions/engine.status'}
            startStopState: {$ref: '#/definitions/engine.startStopState'}
    failureMessage.failedMessageID:
        description: 'Capability identifier of the failed message'
        example:
            value: 33
            timestamp: '2021-01-05T09:40:15.366Z'
        type: number
        format: integer
    failureMessage.failedMessageType:
        description: 'Message type of the failed message'
        example:
            value: 1
            timestamp: '2021-01-05T09:40:15.366Z'
        type: number
        format: integer
    failureMessage.failureReason:
        example:
            value: unauthorised
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
        enum:
            - unsupported_capability
            - unauthorised
            - incorrect_state
            - execution_timeout
            - vehicle_asleep
            - invalid_command
            - pending
            - rate_limit
            - oem_error
    failureMessage.failureDescription:
        description: 'Failure description'
        example:
            value: 'Try again'
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
    failureMessage.failedPropertyIDs:
        description: 'Array of failed property identifiers'
        example:
            value: [1, 2]
            timestamp: '2021-01-05T09:40:15.366Z'
        type: array
        items:
            type: number
            format: integer
    failureMessage:
        type: object
        properties:
            failedMessageID: {$ref: '#/definitions/failureMessage.failedMessageID'}
            failedMessageType: {$ref: '#/definitions/failureMessage.failedMessageType'}
            failureReason: {$ref: '#/definitions/failureMessage.failureReason'}
            failureDescription: {$ref: '#/definitions/failureMessage.failureDescription'}
            failedPropertyIDs: {$ref: '#/definitions/failureMessage.failedPropertyIDs'}
    firmwareVersion.hmKitVersion:
        description: 'HMKit version'
        example:
            value: {major: 1, minor: 15, patch: 33}
            timestamp: '2021-01-05T09:40:15.366Z'
        type: object
        properties:
            major: {description: 'HMKit version major number', type: number, format: integer}
            minor: {description: 'HMKit version minor number', type: number, format: integer}
            patch: {description: 'HMKit version patch number', type: number, format: integer}
    firmwareVersion.hmKitBuildName:
        description: 'HMKit version build name'
        example:
            value: btstack-uart
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
    firmwareVersion.applicationVersion:
        description: 'Application version'
        example:
            value: v1.5-prod
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
    firmwareVersion:
        type: object
        properties:
            hmKitVersion: {$ref: '#/definitions/firmwareVersion.hmKitVersion'}
            hmKitBuildName: {$ref: '#/definitions/firmwareVersion.hmKitBuildName'}
            applicationVersion: {$ref: '#/definitions/firmwareVersion.applicationVersion'}
    fueling.gasFlapLock:
        example:
            value: locked
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
        enum:
            - unlocked
            - locked
    fueling.gasFlapPosition:
        example:
            value: closed
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
        enum:
            - closed
            - open
    fueling:
        type: object
        properties:
            gasFlapLock: {$ref: '#/definitions/fueling.gasFlapLock'}
            gasFlapPosition: {$ref: '#/definitions/fueling.gasFlapPosition'}
    graphics.imageURL:
        description: 'The image URL'
        example:
            value: 'https://about.high-mobility.com/assets/images/hm-logo.svg'
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
    historical.states:
        description: 'The bytes of a Capability state'
        example:
            - {value: {doors: {locks_state: unlocked, positions: [{location: front_left, position: open}, {location: rear_right, position: open}], timestamp: '2017-01-10T16:32:05.000Z'}}, timestamp: '2021-01-05T09:40:15.366Z'}
            - {value: {charging: {charge_port_state: open, charge_mode: immediate, charging_rate: {kilowatts: 35}, max_range: {kilometers: 555}, timestamp: '2017-01-10T16:32:05.000Z'}}, timestamp: '2021-01-05T09:40:15.366Z'}
        type: array
        items:
            type: capability_state
    historical.capabilityID:
        description: 'The identifier of the Capability'
        example:
            value: 96
            timestamp: '2021-01-05T09:40:15.366Z'
        type: number
        format: integer
    historical.startDate:
        description: 'Start date for historical data query'
        example:
            value: '2019-10-07T13:04:32.000Z'
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
        format: date-time
    historical.endDate:
        description: 'End date for historical data query'
        example:
            value: '2019-09-27T08:42:30.000Z'
            timestamp: '2021-01-05T09:40:15.366Z'
        type: string
        format: date-time
    historical:
        type: object
        properties:
            states: {$ref: '#/definitions/historical.states'}
    homeCharger.chargingStatus:
        example:
            value: charging
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - disconnected
            - plugged_in
            - charging
    homeCharger.authenticationMechanism:
        example:
            value: app
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - pin
            - app
    homeCharger.plugType:
        example:
            value: type_2
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - type_1
            - type_2
            - ccs
            - chademo
    homeCharger.chargingPowerKW:
        description: 'Charging power'
        example:
            value: {kilowatts: 11.5}
            timestamp: '2021-01-05T09:40:15.367Z'
    homeCharger.solarCharging:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - inactive
            - active
    homeCharger.wifiHotspotEnabled:
        example:
            value: enabled
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - disabled
            - enabled
    homeCharger.wifiHotspotSSID:
        description: 'The Wi-Fi Hotspot SSID'
        example:
            value: 'Charger 7612'
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
    homeCharger.wiFiHotspotSecurity:
        example:
            value: wpa2_personal
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - none
            - wep
            - wpa
            - wpa2_personal
    homeCharger.wiFiHotspotPassword:
        description: 'The Wi-Fi Hotspot password'
        example:
            value: ZW3vARNUBe
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
    homeCharger.authenticationState:
        example:
            value: authenticated
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - unauthenticated
            - authenticated
    homeCharger.chargeCurrent:
        description: 'The charge current'
        example:
            value: {amperes: 0.5}
            timestamp: '2021-01-05T09:40:15.367Z'
    homeCharger.maximumChargeCurrent:
        description: 'The maximum possible charge current'
        example:
            value: {amperes: 1}
            timestamp: '2021-01-05T09:40:15.367Z'
    homeCharger.minimumChargeCurrent:
        description: 'The minimal possible charge current'
        example:
            value: {amperes: 0.1}
            timestamp: '2021-01-05T09:40:15.367Z'
    homeCharger.coordinates:
        example:
            value: {latitude: 52.520008, longitude: 13.404954}
            timestamp: '2021-01-05T09:40:15.367Z'
        type: object
        properties:
            latitude: {description: Latitude, type: number, format: double}
            longitude: {description: Longitude, type: number, format: double}
    homeCharger.priceTariffs:
        example:
            - {value: {pricing_type: starting_fee, price: 4.5, currency: EUR}, timestamp: '2021-01-05T09:40:15.367Z'}
            - {value: {pricing_type: per_minute, price: 0.3, currency: EUR}, timestamp: '2021-01-05T09:40:15.367Z'}
            - {value: {pricing_type: per_kwh, price: 0.3, currency: Ripple}, timestamp: '2021-01-05T09:40:15.367Z'}
        type: array
        items:
            type: object
            properties: {pricingType: {type: string, enum: [starting_fee, per_minute, per_kwh]}, price: {description: 'The price', type: number, format: double}, currency: {description: 'The currency alphabetic code per ISO 4217 or crypto currency symbol', type: string}}
    homeCharger.chargingPower:
        description: 'Charging power output from the charger'
        example:
            value: {kilowatts: 350}
            timestamp: '2021-01-05T09:40:15.367Z'
    homeCharger:
        type: object
        properties:
            chargingStatus: {$ref: '#/definitions/homeCharger.chargingStatus'}
            authenticationMechanism: {$ref: '#/definitions/homeCharger.authenticationMechanism'}
            plugType: {$ref: '#/definitions/homeCharger.plugType'}
            chargingPowerKW: {$ref: '#/definitions/homeCharger.chargingPowerKW'}
            solarCharging: {$ref: '#/definitions/homeCharger.solarCharging'}
            wifiHotspotEnabled: {$ref: '#/definitions/homeCharger.wifiHotspotEnabled'}
            wifiHotspotSSID: {$ref: '#/definitions/homeCharger.wifiHotspotSSID'}
            wiFiHotspotSecurity: {$ref: '#/definitions/homeCharger.wiFiHotspotSecurity'}
            wiFiHotspotPassword: {$ref: '#/definitions/homeCharger.wiFiHotspotPassword'}
            authenticationState: {$ref: '#/definitions/homeCharger.authenticationState'}
            chargeCurrent: {$ref: '#/definitions/homeCharger.chargeCurrent'}
            maximumChargeCurrent: {$ref: '#/definitions/homeCharger.maximumChargeCurrent'}
            minimumChargeCurrent: {$ref: '#/definitions/homeCharger.minimumChargeCurrent'}
            coordinates: {$ref: '#/definitions/homeCharger.coordinates'}
            priceTariffs: {$ref: '#/definitions/homeCharger.priceTariffs'}
            chargingPower: {$ref: '#/definitions/homeCharger.chargingPower'}
    honkHornFlashLights.flashers:
        example:
            value: left_flasher_active
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - inactive
            - emergency_flasher_active
            - left_flasher_active
            - right_flasher_active
    honkHornFlashLights.honkSeconds:
        description: 'Time to honk the horn'
        example:
            value: {seconds: 3}
            timestamp: '2021-01-05T09:40:15.367Z'
    honkHornFlashLights.flashTimes:
        description: 'Number of times to flash the lights'
        example:
            value: 5
            timestamp: '2021-01-05T09:40:15.367Z'
        type: number
        format: integer
    honkHornFlashLights.emergencyFlashersState:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - inactive
            - active
    honkHornFlashLights.honkTime:
        description: 'Time to honk the horn'
        example:
            value: {seconds: 2}
            timestamp: '2021-01-05T09:40:15.367Z'
    honkHornFlashLights:
        type: object
        properties:
            flashers: {$ref: '#/definitions/honkHornFlashLights.flashers'}
    hood.position:
        example:
            value: open
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - closed
            - open
            - intermediate
    hood:
        type: object
        properties:
            position: {$ref: '#/definitions/hood.position'}
    ignition.status:
        example:
            value: off
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - off
            - on
    ignition.accessoriesStatus:
        example:
            value: on
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - off
            - on
    ignition.state:
        example:
            value: accessory
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - lock
            - off
            - accessory
            - on
            - start
    ignition:
        type: object
        properties:
            status: {$ref: '#/definitions/ignition.status'}
            accessoriesStatus: {$ref: '#/definitions/ignition.accessoriesStatus'}
            state: {$ref: '#/definitions/ignition.state'}
    lightConditions.outsideLight:
        description: 'Measured outside illuminance'
        example:
            value: {lux: 111000}
            timestamp: '2021-01-05T09:40:15.367Z'
    lightConditions.insideLight:
        description: 'Measured inside illuminance'
        example:
            value: {lux: 0.25}
            timestamp: '2021-01-05T09:40:15.367Z'
    lightConditions:
        type: object
        properties:
            outsideLight: {$ref: '#/definitions/lightConditions.outsideLight'}
            insideLight: {$ref: '#/definitions/lightConditions.insideLight'}
    lights.frontExteriorLight:
        example:
            value: active_with_full_beam
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - inactive
            - active
            - active_with_full_beam
            - drl
            - automatic
    lights.rearExteriorLight:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - inactive
            - active
    lights.ambientLightColour:
        example:
            value: {red: 255, green: 0, blue: 0}
            timestamp: '2021-01-05T09:40:15.367Z'
        type: object
        properties:
            red: {description: 'The red component of RGB', type: number, format: integer}
            green: {description: 'The green component of RGB', type: number, format: integer}
            blue: {description: 'The blue component of RGB', type: number, format: integer}
    lights.reverseLight:
        example:
            value: inactive
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - inactive
            - active
    lights.emergencyBrakeLight:
        example:
            value: inactive
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - inactive
            - active
    lights.fogLights:
        example:
            - {value: {location: front, state: inactive}, timestamp: '2021-01-05T09:40:15.367Z'}
            - {value: {location: rear, state: active}, timestamp: '2021-01-05T09:40:15.367Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front, rear]}, state: {type: string, enum: [inactive, active]}}
    lights.readingLamps:
        example:
            - {value: {location: front_left, state: active}, timestamp: '2021-01-05T09:40:15.367Z'}
            - {value: {location: front_right, state: active}, timestamp: '2021-01-05T09:40:15.367Z'}
            - {value: {location: rear_right, state: inactive}, timestamp: '2021-01-05T09:40:15.367Z'}
            - {value: {location: rear_left, state: inactive}, timestamp: '2021-01-05T09:40:15.367Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left]}, state: {type: string, enum: [inactive, active]}}
    lights.interiorLights:
        example:
            - {value: {location: front, state: inactive}, timestamp: '2021-01-05T09:40:15.367Z'}
            - {value: {location: rear, state: active}, timestamp: '2021-01-05T09:40:15.367Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front, rear]}, state: {type: string, enum: [inactive, active]}}
    lights.switchPosition:
        description: 'Position of the rotary light switch'
        example:
            value: parking_light_right
            timestamp: '2021-01-05T09:40:15.367Z'
        type: string
        enum:
            - automatic
            - dipped_headlights
            - parking_light_right
            - parking_light_left
            - sidelights
    lights:
        type: object
        properties:
            frontExteriorLight: {$ref: '#/definitions/lights.frontExteriorLight'}
            rearExteriorLight: {$ref: '#/definitions/lights.rearExteriorLight'}
            ambientLightColour: {$ref: '#/definitions/lights.ambientLightColour'}
            reverseLight: {$ref: '#/definitions/lights.reverseLight'}
            emergencyBrakeLight: {$ref: '#/definitions/lights.emergencyBrakeLight'}
            fogLights: {$ref: '#/definitions/lights.fogLights'}
            readingLamps: {$ref: '#/definitions/lights.readingLamps'}
            interiorLights: {$ref: '#/definitions/lights.interiorLights'}
            switchPosition: {$ref: '#/definitions/lights.switchPosition'}
    maintenance.daysToNextService:
        description: 'Time until next servicing of the car'
        example:
            value: {days: 501}
            timestamp: '2021-01-05T09:40:15.368Z'
    maintenance.kilometersToNextService:
        description: 'The distance until next servicing of the vehicle'
        example:
            value: {kilometers: 3681}
            timestamp: '2021-01-05T09:40:15.368Z'
    maintenance.cbsReportsCount:
        description: 'The number of CBS reports'
        example:
            value: 3
            timestamp: '2021-01-05T09:40:15.368Z'
        type: number
        format: integer
    maintenance.monthsToExhaustInspection:
        description: 'Time until exhaust inspection'
        example:
            value: {months: 5}
            timestamp: '2021-01-05T09:40:15.368Z'
    maintenance.teleserviceAvailability:
        example:
            value: successful
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
        enum:
            - pending
            - idle
            - successful
            - error
    maintenance.serviceDistanceThreshold:
        description: 'Distance threshold for service'
        example:
            value: {kilometers: 5000}
            timestamp: '2021-01-05T09:40:15.368Z'
    maintenance.serviceTimeThreshold:
        description: 'Time threshold for service'
        example:
            value: {weeks: 4}
            timestamp: '2021-01-05T09:40:15.368Z'
    maintenance.automaticTeleserviceCallDate:
        description: 'Automatic teleservice call date'
        example:
            value: '2018-11-23T11:33:50.000Z'
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
        format: date-time
    maintenance.teleserviceBatteryCallDate:
        description: 'Teleservice batter call date'
        example:
            value: '2018-11-23T10:36:50.000Z'
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
        format: date-time
    maintenance.nextInspectionDate:
        description: 'Next inspection date'
        example:
            value: '2018-10-23T14:38:47.000Z'
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
        format: date-time
    maintenance.conditionBasedServices:
        example:
            - {value: {year: 2019, month: 5, id: 3, due_status: ok, text: 'Brake fluid', description: 'Next change at specified date at the latest.'}, timestamp: '2021-01-05T09:40:15.368Z'}
        type: array
        items:
            type: object
            properties: {year: {description: 'The year', type: number, format: integer}, month: {description: 'Value between 1 and 12', type: number, format: integer}, id: {description: 'CBS identifier', type: number, format: integer}, dueStatus: {type: string, enum: [ok, pending, overdue]}, text: {description: 'CBS text', type: string}, description: {description: Description, type: string}}
    maintenance.brakeFluidChangeDate:
        description: 'Brake fluid change date'
        example:
            value: '2018-12-05T03:22:56.000Z'
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
        format: date-time
    maintenance.timeToNextService:
        description: 'Time until next servicing of the vehicle'
        example:
            value: {days: 501}
            timestamp: '2021-01-05T09:40:15.368Z'
    maintenance.distanceToNextService:
        description: 'The distance until next servicing of the vehicle'
        example:
            value: {kilometers: 3681}
            timestamp: '2021-01-05T09:40:15.368Z'
    maintenance.timeToExhaustInspection:
        description: 'Time until exhaust inspection'
        example:
            value: {months: 5}
            timestamp: '2021-01-05T09:40:15.368Z'
    maintenance.lastECall:
        description: 'Date-time of the last eCall'
        example:
            value: '2018-12-05T03:22:56.000Z'
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
        format: date-time
    maintenance:
        type: object
        properties:
            daysToNextService: {$ref: '#/definitions/maintenance.daysToNextService'}
            kilometersToNextService: {$ref: '#/definitions/maintenance.kilometersToNextService'}
            cbsReportsCount: {$ref: '#/definitions/maintenance.cbsReportsCount'}
            monthsToExhaustInspection: {$ref: '#/definitions/maintenance.monthsToExhaustInspection'}
            teleserviceAvailability: {$ref: '#/definitions/maintenance.teleserviceAvailability'}
            serviceDistanceThreshold: {$ref: '#/definitions/maintenance.serviceDistanceThreshold'}
            serviceTimeThreshold: {$ref: '#/definitions/maintenance.serviceTimeThreshold'}
            automaticTeleserviceCallDate: {$ref: '#/definitions/maintenance.automaticTeleserviceCallDate'}
            teleserviceBatteryCallDate: {$ref: '#/definitions/maintenance.teleserviceBatteryCallDate'}
            nextInspectionDate: {$ref: '#/definitions/maintenance.nextInspectionDate'}
            conditionBasedServices: {$ref: '#/definitions/maintenance.conditionBasedServices'}
            brakeFluidChangeDate: {$ref: '#/definitions/maintenance.brakeFluidChangeDate'}
            timeToNextService: {$ref: '#/definitions/maintenance.timeToNextService'}
            distanceToNextService: {$ref: '#/definitions/maintenance.distanceToNextService'}
            timeToExhaustInspection: {$ref: '#/definitions/maintenance.timeToExhaustInspection'}
            lastECall: {$ref: '#/definitions/maintenance.lastECall'}
    messaging.text:
        description: 'The text'
        example:
            value: 'Hey mom!'
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
    messaging.handle:
        description: 'The optional handle of message'
        example:
            value: Epp
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
    messaging:
        type: object
        properties:
            text: {$ref: '#/definitions/messaging.text'}
            handle: {$ref: '#/definitions/messaging.handle'}
    mobile.connection:
        example:
            value: connected
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
        enum:
            - disconnected
            - connected
    mobile:
        type: object
        properties:
            connection: {$ref: '#/definitions/mobile.connection'}
    multiCommand.multiStates:
        description: 'The incoming states'
        example:
            - {value: {doors: {locks_state: unlocked, positions: [{location: front_left, position: open}, {location: rear_right, position: open}], timestamp: '2017-01-10T16:32:05.000Z'}}, timestamp: '2021-01-05T09:40:15.368Z'}
            - {value: {charging: {charge_port_state: open, charge_mode: immediate, charging_rate: {kilowatts: 35}, max_range: {kilometers: 555}, timestamp: '2017-01-10T16:32:05.000Z'}}, timestamp: '2021-01-05T09:40:15.368Z'}
        type: array
        items:
            type: capability_state
    multiCommand.multiCommands:
        description: 'The outgoing commands'
        example:
            - {value: {doors: {inside_locks_state: locked}}, timestamp: '2021-01-05T09:40:15.368Z'}
            - {value: {ignition: {status: off}}, timestamp: '2021-01-05T09:40:15.368Z'}
        type: array
        items:
            type: capability_state
    multiCommand:
        type: object
        properties:
            multiStates: {$ref: '#/definitions/multiCommand.multiStates'}
    naviDestination.coordinates:
        example:
            value: {latitude: 52.520008, longitude: 13.404954}
            timestamp: '2021-01-05T09:40:15.368Z'
        type: object
        properties:
            latitude: {description: Latitude, type: number, format: double}
            longitude: {description: Longitude, type: number, format: double}
    naviDestination.destinationName:
        description: 'Destination name'
        example:
            value: Berlin
            timestamp: '2021-01-05T09:40:15.368Z'
        type: string
    naviDestination.dataSlotsFree:
        description: 'Remaining number of POI data slots available.'
        example:
            value: 14
            timestamp: '2021-01-05T09:40:15.368Z'
        type: number
        format: integer
    naviDestination.dataSlotsMax:
        description: 'Maximum number of POI data slots.'
        example:
            value: 30
            timestamp: '2021-01-05T09:40:15.368Z'
        type: number
        format: integer
    naviDestination.arrivalDuration:
        description: 'Remaining time until reaching the destination.'
        example:
            value: {hours: 2.6}
            timestamp: '2021-01-05T09:40:15.368Z'
    naviDestination.distanceToDestination:
        description: 'Remaining distance to reach the destination.'
        example:
            value: {kilometers: 1337}
            timestamp: '2021-01-05T09:40:15.368Z'
    naviDestination:
        type: object
        properties:
            coordinates: {$ref: '#/definitions/naviDestination.coordinates'}
            destinationName: {$ref: '#/definitions/naviDestination.destinationName'}
            dataSlotsFree: {$ref: '#/definitions/naviDestination.dataSlotsFree'}
            dataSlotsMax: {$ref: '#/definitions/naviDestination.dataSlotsMax'}
            arrivalDuration: {$ref: '#/definitions/naviDestination.arrivalDuration'}
            distanceToDestination: {$ref: '#/definitions/naviDestination.distanceToDestination'}
    notifications.text:
        description: 'Text for the notification'
        example:
            value: 'Open Garage'
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
    notifications.actionItems:
        example:
            - {value: {id: 27, name: Open}, timestamp: '2021-01-05T09:40:15.369Z'}
            - {value: {id: 28, name: Cancel}, timestamp: '2021-01-05T09:40:15.369Z'}
        type: array
        items:
            type: object
            properties: {id: {description: 'Action identifier', type: number, format: integer}, name: {description: 'Name of the action', type: string}}
    notifications.activatedAction:
        description: 'Identifier of the activated action'
        example:
            value: 27
            timestamp: '2021-01-05T09:40:15.369Z'
        type: number
        format: integer
    notifications.clear:
        example:
            value: clear
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - clear
    notifications:
        type: object
        properties:
            text: {$ref: '#/definitions/notifications.text'}
            actionItems: {$ref: '#/definitions/notifications.actionItems'}
            activatedAction: {$ref: '#/definitions/notifications.activatedAction'}
            clear: {$ref: '#/definitions/notifications.clear'}
    offroad.routeIncline:
        description: 'The route elevation incline'
        example:
            value: {degrees: 10.1}
            timestamp: '2021-01-05T09:40:15.369Z'
    offroad.wheelSuspension:
        description: 'The wheel suspension level percentage, whereas 0.0 is no suspension and 1.0 maximum suspension'
        example:
            value: 0.5
            timestamp: '2021-01-05T09:40:15.369Z'
        type: number
        format: double
    offroad:
        type: object
        properties:
            routeIncline: {$ref: '#/definitions/offroad.routeIncline'}
            wheelSuspension: {$ref: '#/definitions/offroad.wheelSuspension'}
    parkingBrake.status:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - inactive
            - active
    parkingBrake:
        type: object
        properties:
            status: {$ref: '#/definitions/parkingBrake.status'}
    parkingTicket.status:
        example:
            value: ended
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - ended
            - started
    parkingTicket.operatorName:
        description: 'Operator name'
        example:
            value: 'Berlin Parking'
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
    parkingTicket.operatorTicketID:
        description: 'Operator ticket ID'
        example:
            value: 6489AB4233
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
    parkingTicket.ticketStartTime:
        description: 'Parking ticket start time'
        example:
            value: '2017-01-10T19:34:22.000Z'
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        format: date-time
    parkingTicket.ticketEndTime:
        description: 'Parking ticket end time'
        example:
            value: '2019-10-08T11:21:45.000Z'
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        format: date-time
    parkingTicket:
        type: object
        properties:
            status: {$ref: '#/definitions/parkingTicket.status'}
            operatorName: {$ref: '#/definitions/parkingTicket.operatorName'}
            operatorTicketID: {$ref: '#/definitions/parkingTicket.operatorTicketID'}
            ticketStartTime: {$ref: '#/definitions/parkingTicket.ticketStartTime'}
            ticketEndTime: {$ref: '#/definitions/parkingTicket.ticketEndTime'}
    powerTakeoff.status:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - inactive
            - active
    powerTakeoff.engaged:
        example:
            value: engaged
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - not_engaged
            - engaged
    powerTakeoff:
        type: object
        properties:
            status: {$ref: '#/definitions/powerTakeoff.status'}
            engaged: {$ref: '#/definitions/powerTakeoff.engaged'}
    race.accelerations:
        example:
            - {value: {direction: longitudinal, acceleration: {gravity: 0.864}}, timestamp: '2021-01-05T09:40:15.369Z'}
            - {value: {direction: lateral, acceleration: {gravity: -0.753}}, timestamp: '2021-01-05T09:40:15.369Z'}
            - {value: {direction: front_lateral, acceleration: {gravity: 0.753}}, timestamp: '2021-01-05T09:40:15.369Z'}
            - {value: {direction: rear_lateral, acceleration: {gravity: -0.864}}, timestamp: '2021-01-05T09:40:15.369Z'}
        type: array
        items:
            type: object
            properties: {direction: {type: string, enum: [longitudinal, lateral, front_lateral, rear_lateral]}, acceleration: {description: 'The accelaration'}}
    race.understeering:
        description: 'The understeering percentage between 0.0-1.0 whereas up to 0.2 (20%) is considered OK, up to 0.3 (30%) marginal, over 30% critical'
        example:
            value: 0.19
            timestamp: '2021-01-05T09:40:15.369Z'
        type: number
        format: double
    race.oversteering:
        description: 'The oversteering percentage between 0.0-1.0 whereas up to 0.2 (20%) is considered OK, up to 30% marginal, over 30% critical'
        example:
            value: 0.05
            timestamp: '2021-01-05T09:40:15.369Z'
        type: number
        format: double
    race.gasPedalPosition:
        description: 'The gas pedal position between 0.0-1.0, whereas 1.0 (100%) is full throttle'
        example:
            value: 0.98
            timestamp: '2021-01-05T09:40:15.369Z'
        type: number
        format: double
    race.steeringAngle:
        description: 'The steering angle, whereas 0.0 is straight ahead, positive number to the right and negative number to the left'
        example:
            value: {degrees: 10}
            timestamp: '2021-01-05T09:40:15.369Z'
    race.brakePressure:
        description: 'Brake pressure'
        example:
            value: {bars: 20}
            timestamp: '2021-01-05T09:40:15.369Z'
    race.yawRate:
        description: 'Yaw turning rate'
        example:
            value: {degrees_per_second: 6.66}
            timestamp: '2021-01-05T09:40:15.369Z'
    race.rearSuspensionSteering:
        description: 'Rear suspension steering'
        example:
            value: {degrees: 3.3}
            timestamp: '2021-01-05T09:40:15.369Z'
    race.electronicStabilityProgram:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - inactive
            - active
    race.brakeTorqueVectorings:
        example:
            - {value: {axle: front, state: active}, timestamp: '2021-01-05T09:40:15.369Z'}
            - {value: {axle: rear, state: inactive}, timestamp: '2021-01-05T09:40:15.369Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, state: {type: string, enum: [inactive, active]}}
    race.gearMode:
        example:
            value: drive
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - manual
            - park
            - reverse
            - neutral
            - drive
            - low_gear
            - sport
    race.selectedGear:
        description: 'The selected gear value, if any'
        example:
            value: 4
            timestamp: '2021-01-05T09:40:15.369Z'
        type: number
        format: integer
    race.brakePedalPosition:
        description: 'The brake pedal position between 0.0-1.0, wheras 1.0 (100%) is full brakes'
        example:
            value: 0.12
            timestamp: '2021-01-05T09:40:15.369Z'
        type: number
        format: double
    race.brakePedalSwitch:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - inactive
            - active
    race.clutchPedalSwitch:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - inactive
            - active
    race.acceleratorPedalIdleSwitch:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - inactive
            - active
    race.acceleratorPedalKickdownSwitch:
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - inactive
            - active
    race.vehicleMoving:
        example:
            value: moving
            timestamp: '2021-01-05T09:40:15.369Z'
        type: string
        enum:
            - not_moving
            - moving
    race:
        type: object
        properties:
            accelerations: {$ref: '#/definitions/race.accelerations'}
            understeering: {$ref: '#/definitions/race.understeering'}
            oversteering: {$ref: '#/definitions/race.oversteering'}
            gasPedalPosition: {$ref: '#/definitions/race.gasPedalPosition'}
            steeringAngle: {$ref: '#/definitions/race.steeringAngle'}
            brakePressure: {$ref: '#/definitions/race.brakePressure'}
            yawRate: {$ref: '#/definitions/race.yawRate'}
            rearSuspensionSteering: {$ref: '#/definitions/race.rearSuspensionSteering'}
            electronicStabilityProgram: {$ref: '#/definitions/race.electronicStabilityProgram'}
            brakeTorqueVectorings: {$ref: '#/definitions/race.brakeTorqueVectorings'}
            gearMode: {$ref: '#/definitions/race.gearMode'}
            selectedGear: {$ref: '#/definitions/race.selectedGear'}
            brakePedalPosition: {$ref: '#/definitions/race.brakePedalPosition'}
            brakePedalSwitch: {$ref: '#/definitions/race.brakePedalSwitch'}
            clutchPedalSwitch: {$ref: '#/definitions/race.clutchPedalSwitch'}
            acceleratorPedalIdleSwitch: {$ref: '#/definitions/race.acceleratorPedalIdleSwitch'}
            acceleratorPedalKickdownSwitch: {$ref: '#/definitions/race.acceleratorPedalKickdownSwitch'}
            vehicleMoving: {$ref: '#/definitions/race.vehicleMoving'}
    rooftopControl.dimming:
        description: '1.0 (100%) is opaque, 0.0 (0%) is transparent'
        example:
            value: 1
            timestamp: '2021-01-05T09:40:15.371Z'
        type: number
        format: double
    rooftopControl.position:
        description: '1.0 (100%) is fully open, 0.0 (0%) is closed'
        example:
            value: 0.5
            timestamp: '2021-01-05T09:40:15.371Z'
        type: number
        format: double
    rooftopControl.convertibleRoofState:
        example:
            value: open
            timestamp: '2021-01-05T09:40:15.371Z'
        type: string
        enum:
            - closed
            - open
            - emergency_locked
            - closed_secured
            - open_secured
            - hard_top_mounted
            - intermediate_position
            - loading_position
            - loading_position_immediate
    rooftopControl.sunroofTiltState:
        example:
            value: half_tilted
            timestamp: '2021-01-05T09:40:15.371Z'
        type: string
        enum:
            - closed
            - tilted
            - half_tilted
    rooftopControl.sunroofState:
        example:
            value: open
            timestamp: '2021-01-05T09:40:15.371Z'
        type: string
        enum:
            - closed
            - open
            - intermediate
    rooftopControl.sunroofRainEvent:
        description: 'Sunroof event happened in case of rain'
        example:
            value: no_event
            timestamp: '2021-01-05T09:40:15.371Z'
        type: string
        enum:
            - no_event
            - in_stroke_position_because_of_rain
            - automatically_in_stroke_position
    rooftopControl:
        type: object
        properties:
            dimming: {$ref: '#/definitions/rooftopControl.dimming'}
            position: {$ref: '#/definitions/rooftopControl.position'}
            convertibleRoofState: {$ref: '#/definitions/rooftopControl.convertibleRoofState'}
            sunroofTiltState: {$ref: '#/definitions/rooftopControl.sunroofTiltState'}
            sunroofState: {$ref: '#/definitions/rooftopControl.sunroofState'}
            sunroofRainEvent: {$ref: '#/definitions/rooftopControl.sunroofRainEvent'}
    seats.personsDetected:
        example:
            - {value: {location: front_left, detected: detected}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {location: front_right, detected: not_detected}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {location: rear_right, detected: not_detected}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {location: rear_left, detected: not_detected}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {location: rear_center, detected: not_detected}, timestamp: '2021-01-05T09:40:15.372Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_center]}, detected: {type: string, enum: [not_detected, detected]}}
    seats.seatbeltsState:
        example:
            - {value: {location: front_left, fastened_state: fastened}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {location: front_right, fastened_state: not_fastened}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {location: rear_right, fastened_state: not_fastened}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {location: rear_left, fastened_state: not_fastened}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {location: rear_center, fastened_state: not_fastened}, timestamp: '2021-01-05T09:40:15.372Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_center]}, fastenedState: {type: string, enum: [not_fastened, fastened]}}
    seats:
        type: object
        properties:
            personsDetected: {$ref: '#/definitions/seats.personsDetected'}
            seatbeltsState: {$ref: '#/definitions/seats.seatbeltsState'}
    tachograph.driversWorkingStates:
        example:
            - {value: {driver_number: 1, working_state: working}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {driver_number: 2, working_state: resting}, timestamp: '2021-01-05T09:40:15.372Z'}
        type: array
        items:
            type: object
            properties: {driverNumber: {description: 'The driver number', type: number, format: integer}, workingState: {type: string, enum: [resting, driver_available, working, driving]}}
    tachograph.driversTimeStates:
        example:
            - {value: {driver_number: 3, time_state: four_reached}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {driver_number: 4, time_state: fifteen_min_before_sixteen}, timestamp: '2021-01-05T09:40:15.372Z'}
        type: array
        items:
            type: object
            properties: {driverNumber: {description: 'The driver number', type: number, format: integer}, timeState: {type: string, enum: [normal, fifteen_min_before_four, four_reached, fifteen_min_before_nine, nine_reached, fifteen_min_before_sixteen, sixteen_reached]}}
    tachograph.driversCardsPresent:
        example:
            - {value: {driver_number: 6, card_present: present}, timestamp: '2021-01-05T09:40:15.372Z'}
            - {value: {driver_number: 7, card_present: not_present}, timestamp: '2021-01-05T09:40:15.372Z'}
        type: array
        items:
            type: object
            properties: {driverNumber: {description: 'The driver number', type: number, format: integer}, cardPresent: {type: string, enum: [not_present, present]}}
    tachograph.vehicleMotion:
        example:
            value: detected
            timestamp: '2021-01-05T09:40:15.372Z'
        type: string
        enum:
            - not_detected
            - detected
    tachograph.vehicleOverspeed:
        example:
            value: no_overspeed
            timestamp: '2021-01-05T09:40:15.372Z'
        type: string
        enum:
            - no_overspeed
            - overspeed
    tachograph.vehicleDirection:
        example:
            value: forward
            timestamp: '2021-01-05T09:40:15.372Z'
        type: string
        enum:
            - forward
            - reverse
    tachograph.vehicleSpeed:
        description: 'The tachograph vehicle speed'
        example:
            value: {kilometers_per_hour: 80}
            timestamp: '2021-01-05T09:40:15.372Z'
    tachograph:
        type: object
        properties:
            driversWorkingStates: {$ref: '#/definitions/tachograph.driversWorkingStates'}
            driversTimeStates: {$ref: '#/definitions/tachograph.driversTimeStates'}
            driversCardsPresent: {$ref: '#/definitions/tachograph.driversCardsPresent'}
            vehicleMotion: {$ref: '#/definitions/tachograph.vehicleMotion'}
            vehicleOverspeed: {$ref: '#/definitions/tachograph.vehicleOverspeed'}
            vehicleDirection: {$ref: '#/definitions/tachograph.vehicleDirection'}
            vehicleSpeed: {$ref: '#/definitions/tachograph.vehicleSpeed'}
    textInput.text:
        description: 'The text'
        example:
            value: 'Rendezvous with Rama'
            timestamp: '2021-01-05T09:40:15.372Z'
        type: string
    theftAlarm.status:
        example:
            value: armed
            timestamp: '2021-01-05T09:40:15.372Z'
        type: string
        enum:
            - unarmed
            - armed
            - triggered
    theftAlarm.interiorProtectionStatus:
        description: 'Interior protection sensor status'
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.372Z'
        type: string
        enum:
            - inactive_selected
            - inactive_not_selected
            - active
    theftAlarm.towProtectionStatus:
        description: 'Tow protection sensor status'
        example:
            value: active
            timestamp: '2021-01-05T09:40:15.372Z'
        type: string
        enum:
            - inactive_selected
            - inactive_not_selected
            - active
    theftAlarm.lastWarningReason:
        example:
            value: hood
            timestamp: '2021-01-05T09:40:15.372Z'
        type: string
        enum:
            - no_alarm
            - basis_alarm
            - door_front_left
            - door_front_right
            - door_rear_left
            - door_rear_right
            - hood
            - trunk
            - common_alm_in
[...]
