info:
    title: 'HM REST Auto API'
    version: 4.0.0
    description: 'High Mobility REST Auto API Level 12 specification'
swagger: '2.0'
host: sandbox.rest-api.high-mobility.com
basePath: /v4
parameters:
    authorizationParam:
        name: Authorization
        in: header
        required: true
        type: string
definitions:
    browser.url:
        description: 'The URL'
        example:
            data: {value: 'https://about.high-mobility.com'}
            timestamp: '2021-01-11T08:09:28.594Z'
        type: string
    capabilities.capabilities:
        example:
            - {data: {capabilityID: {value: 32}, supportedPropertyIDs: [2, 3, 4, 5, 6]}, timestamp: '2021-01-11T08:09:28.594Z'}
            - {data: {capabilityID: {value: 35}, supportedPropertyIDs: [2, 8, 17]}, timestamp: '2021-01-11T08:09:28.594Z'}
        type: array
        items:
            type: object
            properties: {capabilityID: {description: 'The identifier of the supported capability', type: number, format: integer}, supportedPropertyIDs: {description: 'Array of supported property identifiers', type: array, items: {type: number, format: integer}}}
    capabilities.webhooks:
        example:
            - {data: {available: {value: available}, event: {value: trip_started}}, timestamp: '2021-01-11T08:09:28.594Z'}
            - {data: {available: {value: available}, event: {value: trip_ended}}, timestamp: '2021-01-11T08:09:28.594Z'}
        type: array
        items:
            type: object
            properties: {available: {description: 'If the specified webhook is available.', type: string, enum: [unavailable, available]}, event: {type: string, enum: [ping, trip_started, trip_ended, vehicle_location_changed, authorization_changed, tire_pressure_changed]}}
    capabilities:
        type: object
        properties:
            capabilities: {$ref: '#/definitions/capabilities.capabilities'}
            webhooks: {$ref: '#/definitions/capabilities.webhooks'}
    charging.estimatedRange:
        description: 'Estimated range'
        example:
            data: {value: 432.1, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.594Z'
    charging.batteryLevel:
        description: 'Battery level percentage between 0.0-1.0'
        example:
            data: {value: 0.5}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: number
        format: double
    charging.batteryCurrentAC:
        description: 'Battery alternating current'
        example:
            data: {value: -0.6, unit: amperes}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.batteryCurrentDC:
        description: 'Battery direct current'
        example:
            data: {value: -0.6, unit: amperes}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.chargerVoltageAC:
        description: 'Charger voltage for alternating current'
        example:
            data: {value: 400, unit: volts}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.chargerVoltageDC:
        description: 'Charger voltage for direct current'
        example:
            data: {value: 400, unit: volts}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.chargeLimit:
        description: 'Charge limit percentage between 0.0-1.0'
        example:
            data: {value: 0.9}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: number
        format: double
    charging.timeToCompleteCharge:
        description: 'Time until charging completed'
        example:
            data: {value: 60, unit: minutes}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.chargingRateKW:
        description: 'Charging rate'
        example:
            data: {value: 3.5, unit: kilowatts}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.chargePortState:
        example:
            data: {value: open}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - closed
            - open
    charging.chargeMode:
        example:
            data: {value: timer_based}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - immediate
            - timer_based
            - inductive
    charging.maxChargingCurrent:
        description: 'Maximum charging current'
        example:
            data: {value: 25, unit: amperes}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.plugType:
        example:
            data: {value: type_2}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - type_1
            - type_2
            - ccs
            - chademo
    charging.chargingWindowChosen:
        example:
            data: {value: not_chosen}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - not_chosen
            - chosen
    charging.departureTimes:
        example:
            - {data: {state: {value: active}, time: {hour: {value: 16}, minute: {value: 32}}}, timestamp: '2021-01-11T08:09:28.595Z'}
            - {data: {state: {value: inactive}, time: {hour: {value: 11}, minute: {value: 51}}}, timestamp: '2021-01-11T08:09:28.595Z'}
        type: array
        items:
            type: object
            properties: {state: {type: string, enum: [inactive, active]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    charging.reductionTimes:
        example:
            - {data: {startStop: {value: start}, time: {hour: {value: 17}, minute: {value: 33}}}, timestamp: '2021-01-11T08:09:28.595Z'}
            - {data: {startStop: {value: stop}, time: {hour: {value: 12}, minute: {value: 52}}}, timestamp: '2021-01-11T08:09:28.595Z'}
        type: array
        items:
            type: object
            properties: {startStop: {type: string, enum: [start, stop]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    charging.batteryTemperature:
        description: 'Battery temperature'
        example:
            data: {value: 38.4, unit: celsius}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.timers:
        example:
            - {data: {timerType: {value: preferred_start_time}, date: {value: '2017-01-10T16:32:05.000Z'}}, timestamp: '2021-01-11T08:09:28.595Z'}
            - {data: {timerType: {value: preferred_end_time}, date: {value: '2017-01-10T16:36:05.000Z'}}, timestamp: '2021-01-11T08:09:28.595Z'}
            - {data: {timerType: {value: departure_date}, date: {value: '2017-01-10T16:36:05.000Z'}}, timestamp: '2021-01-11T08:09:28.595Z'}
        type: array
        items:
            type: object
            properties: {timerType: {type: string, enum: [preferred_start_time, preferred_end_time, departure_date]}, date: {description: 'Timer date', type: string, format: date-time}}
    charging.pluggedIn:
        example:
            data: {value: plugged_in}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - disconnected
            - plugged_in
    charging.status:
        example:
            data: {value: charging}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - not_charging
            - charging
            - charging_complete
            - initialising
            - charging_paused
            - charging_error
            - cable_unplugged
            - slow_charging
            - fast_charging
            - discharging
            - foreign_object_detected
    charging.chargingRate:
        description: 'Charge rate when charging'
        example:
            data: {value: 150, unit: kilowatts}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.batteryCurrent:
        description: 'Battery current'
        example:
            data: {value: -0.6, unit: amperes}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.chargerVoltage:
        description: 'Charger voltage'
        example:
            data: {value: 400, unit: volts}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.currentType:
        description: 'Type of current in use'
        example:
            data: {value: alternating_current}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - alternating_current
            - direct_current
    charging.maxRange:
        description: 'Maximum electric range with 100% of battery'
        example:
            data: {value: 555, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.595Z'
    charging.starterBatteryState:
        description: 'State of the starter battery'
        example:
            data: {value: green}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - red
            - yellow
            - green
    charging.smartChargingStatus:
        description: 'Status of optimized/intelligent charging'
        example:
            data: {value: scc_is_active}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - wallbox_is_active
            - scc_is_active
            - peak_setting_active
    charging.batteryLevelAtDeparture:
        description: 'Battery charge level expected at time of departure'
        example:
            data: {value: 0.9}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: number
        format: double
    charging.preconditioningDepartureStatus:
        description: 'Status of preconditioning at departure time'
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - inactive
            - active
    charging.preconditioningImmediateStatus:
        description: 'Status of immediate preconditioning'
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - inactive
            - active
    charging.preconditioningDepartureEnabled:
        description: 'Preconditioning activation status at departure'
        example:
            data: {value: enabled}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - disabled
            - enabled
    charging.preconditioningError:
        description: 'Preconditioning error if one is encountered'
        example:
            data: {value: not_possible_low}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - no_change
            - not_possible_low
            - not_possible_finished
            - available_after_engine_restart
            - general_error
    charging:
        type: object
        properties:
            estimatedRange: {$ref: '#/definitions/charging.estimatedRange'}
            batteryLevel: {$ref: '#/definitions/charging.batteryLevel'}
            batteryCurrentAC: {$ref: '#/definitions/charging.batteryCurrentAC'}
            batteryCurrentDC: {$ref: '#/definitions/charging.batteryCurrentDC'}
            chargerVoltageAC: {$ref: '#/definitions/charging.chargerVoltageAC'}
            chargerVoltageDC: {$ref: '#/definitions/charging.chargerVoltageDC'}
            chargeLimit: {$ref: '#/definitions/charging.chargeLimit'}
            timeToCompleteCharge: {$ref: '#/definitions/charging.timeToCompleteCharge'}
            chargingRateKW: {$ref: '#/definitions/charging.chargingRateKW'}
            chargePortState: {$ref: '#/definitions/charging.chargePortState'}
            chargeMode: {$ref: '#/definitions/charging.chargeMode'}
            maxChargingCurrent: {$ref: '#/definitions/charging.maxChargingCurrent'}
            plugType: {$ref: '#/definitions/charging.plugType'}
            chargingWindowChosen: {$ref: '#/definitions/charging.chargingWindowChosen'}
            departureTimes: {$ref: '#/definitions/charging.departureTimes'}
            reductionTimes: {$ref: '#/definitions/charging.reductionTimes'}
            batteryTemperature: {$ref: '#/definitions/charging.batteryTemperature'}
            timers: {$ref: '#/definitions/charging.timers'}
            pluggedIn: {$ref: '#/definitions/charging.pluggedIn'}
            status: {$ref: '#/definitions/charging.status'}
            chargingRate: {$ref: '#/definitions/charging.chargingRate'}
            batteryCurrent: {$ref: '#/definitions/charging.batteryCurrent'}
            chargerVoltage: {$ref: '#/definitions/charging.chargerVoltage'}
            currentType: {$ref: '#/definitions/charging.currentType'}
            maxRange: {$ref: '#/definitions/charging.maxRange'}
            starterBatteryState: {$ref: '#/definitions/charging.starterBatteryState'}
            smartChargingStatus: {$ref: '#/definitions/charging.smartChargingStatus'}
            batteryLevelAtDeparture: {$ref: '#/definitions/charging.batteryLevelAtDeparture'}
            preconditioningDepartureStatus: {$ref: '#/definitions/charging.preconditioningDepartureStatus'}
            preconditioningImmediateStatus: {$ref: '#/definitions/charging.preconditioningImmediateStatus'}
            preconditioningDepartureEnabled: {$ref: '#/definitions/charging.preconditioningDepartureEnabled'}
            preconditioningError: {$ref: '#/definitions/charging.preconditioningError'}
    chassisSettings.drivingMode:
        example:
            data: {value: eco}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - regular
            - eco
            - sport
            - sport_plus
            - ecoPlus
            - comfort
    chassisSettings.sportChrono:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.595Z'
        type: string
        enum:
            - inactive
            - active
            - reset
    chassisSettings.currentSpringRates:
        description: 'The current values for the spring rates'
        example:
            - {data: {axle: {value: front}, springRate: {value: 21, unit: newton_millimeters}}, timestamp: '2021-01-11T08:09:28.595Z'}
            - {data: {axle: {value: rear}, springRate: {value: 23, unit: newton_millimeters}}, timestamp: '2021-01-11T08:09:28.595Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.maximumSpringRates:
        description: 'The maximum possible values for the spring rates'
        example:
            - {data: {axle: {value: front}, springRate: {value: 37, unit: newton_millimeters}}, timestamp: '2021-01-11T08:09:28.595Z'}
            - {data: {axle: {value: rear}, springRate: {value: 39, unit: newton_millimeters}}, timestamp: '2021-01-11T08:09:28.595Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.minimumSpringRates:
        description: 'The minimum possible values for the spring rates'
        example:
            - {data: {axle: {value: front}, springRate: {value: 16, unit: newton_millimeters}}, timestamp: '2021-01-11T08:09:28.595Z'}
            - {data: {axle: {value: rear}, springRate: {value: 18, unit: newton_millimeters}}, timestamp: '2021-01-11T08:09:28.595Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, springRate: {description: 'The suspension spring rate'}}
    chassisSettings.currentChassisPosition:
        description: 'The chassis position calculated from the lowest point'
        example:
            data: {value: 25.4, unit: millimeters}
            timestamp: '2021-01-11T08:09:28.595Z'
    chassisSettings.maximumChassisPosition:
        description: 'The maximum possible value for the chassis position'
        example:
            data: {value: 55.5, unit: millimeters}
            timestamp: '2021-01-11T08:09:28.596Z'
    chassisSettings.minimumChassisPosition:
        description: 'The minimum possible value for the chassis position'
        example:
            data: {value: -28.4, unit: millimeters}
            timestamp: '2021-01-11T08:09:28.596Z'
    chassisSettings:
        type: object
        properties:
            drivingMode: {$ref: '#/definitions/chassisSettings.drivingMode'}
            sportChrono: {$ref: '#/definitions/chassisSettings.sportChrono'}
            currentSpringRates: {$ref: '#/definitions/chassisSettings.currentSpringRates'}
            maximumSpringRates: {$ref: '#/definitions/chassisSettings.maximumSpringRates'}
            minimumSpringRates: {$ref: '#/definitions/chassisSettings.minimumSpringRates'}
            currentChassisPosition: {$ref: '#/definitions/chassisSettings.currentChassisPosition'}
            maximumChassisPosition: {$ref: '#/definitions/chassisSettings.maximumChassisPosition'}
            minimumChassisPosition: {$ref: '#/definitions/chassisSettings.minimumChassisPosition'}
    climate.insideTemperature:
        description: 'The inside temperature'
        example:
            data: {value: 19.1, unit: celsius}
            timestamp: '2021-01-11T08:09:28.596Z'
    climate.outsideTemperature:
        description: 'The outside temperature'
        example:
            data: {value: 12.2, unit: celsius}
            timestamp: '2021-01-11T08:09:28.596Z'
    climate.driverTemperatureSetting:
        description: 'The driver temperature setting'
        example:
            data: {value: 21.5, unit: celsius}
            timestamp: '2021-01-11T08:09:28.596Z'
    climate.passengerTemperatureSetting:
        description: 'The passenger temperature setting'
        example:
            data: {value: 21.7, unit: celsius}
            timestamp: '2021-01-11T08:09:28.596Z'
    climate.hvacState:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: string
        enum:
            - inactive
            - active
    climate.defoggingState:
        example:
            data: {value: inactive}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: string
        enum:
            - inactive
            - active
    climate.defrostingState:
        example:
            data: {value: inactive}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: string
        enum:
            - inactive
            - active
    climate.ionisingState:
        example:
            data: {value: inactive}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: string
        enum:
            - inactive
            - active
    climate.defrostingTemperatureSetting:
        description: 'The defrosting temperature setting'
        example:
            data: {value: 21.2, unit: celsius}
            timestamp: '2021-01-11T08:09:28.596Z'
    climate.hvacWeekdayStartingTimes:
        example:
            - {data: {weekday: {value: monday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {weekday: {value: tuesday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {weekday: {value: wednesday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {weekday: {value: thursday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {weekday: {value: friday}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {weekday: {value: saturday}, time: {hour: {value: 18}, minute: {value: 30}}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {weekday: {value: sunday}, time: {hour: {value: 19}, minute: {value: 31}}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {weekday: {value: automatic}, time: {hour: {value: 16}, minute: {value: 0}}}, timestamp: '2021-01-11T08:09:28.596Z'}
        type: array
        items:
            type: object
            properties: {weekday: {type: string, enum: [monday, tuesday, wednesday, thursday, friday, saturday, sunday, automatic]}, time: {type: object, properties: {hour: {description: 'Value between 0 and 23', type: number, format: integer}, minute: {description: 'Value between 0 and 59', type: number, format: integer}}}}
    climate.rearTemperatureSetting:
        description: 'The rear temperature'
        example:
            data: {value: 21.6, unit: celsius}
            timestamp: '2021-01-11T08:09:28.596Z'
    climate:
        type: object
        properties:
            insideTemperature: {$ref: '#/definitions/climate.insideTemperature'}
            outsideTemperature: {$ref: '#/definitions/climate.outsideTemperature'}
            driverTemperatureSetting: {$ref: '#/definitions/climate.driverTemperatureSetting'}
            passengerTemperatureSetting: {$ref: '#/definitions/climate.passengerTemperatureSetting'}
            hvacState: {$ref: '#/definitions/climate.hvacState'}
            defoggingState: {$ref: '#/definitions/climate.defoggingState'}
            defrostingState: {$ref: '#/definitions/climate.defrostingState'}
            ionisingState: {$ref: '#/definitions/climate.ionisingState'}
            defrostingTemperatureSetting: {$ref: '#/definitions/climate.defrostingTemperatureSetting'}
            hvacWeekdayStartingTimes: {$ref: '#/definitions/climate.hvacWeekdayStartingTimes'}
            rearTemperatureSetting: {$ref: '#/definitions/climate.rearTemperatureSetting'}
    dashboardLights.dashboardLights:
        example:
            - {data: {name: {value: high_beam}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: low_beam}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: hazard_warning}, state: {value: on}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: brake_failure}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: hatch_open}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: fuel_level}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: engine_coolant_temperature}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: battery_charging_condition}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: engine_oil}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: position_lights}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: front_fog_light}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: rear_fog_light}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: park_heating}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: engine_indicator}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: service_call}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: transmission_fluid_temperature}, state: {value: on}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: transmission_failure}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: anti_lock_brake_failure}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: worn_brake_linings}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: windscreen_washer_fluid}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: tire_failure}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: engine_oil_level}, state: {value: on}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: engine_coolant_level}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: steering_failure}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: esc_indication}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: brake_lights}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: adblue_level}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: fuel_filter_diff_pressure}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: seat_belt}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: advanced_braking}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: acc}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: trailer_connected}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: airbag}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: esc_switched_off}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: lane_departure_warning_off}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: air_filter_minder}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: air_suspension_ride_control_fault}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: all_wheel_drive_disabled}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: anti_theft}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: blind_spot_detection}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: charge_system_fault}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: check_fuel_cap}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: check_fuel_fill_inlet}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: check_fuel_filter}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: dc_temp_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: dc_warning_status}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: diesel_engine_idle_shutdown}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: diesel_engine_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: diesel_exhaust_fluid_system_fault}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: diesel_exhaust_over_temp}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: diesel_exhaust_fluid_quality}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: diesel_filter_regeneration}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: diesel_particulate_filter}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: diesel_pre_heat}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: electric_trailer_brake_connection}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_cell_max_volt_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_cell_min_volt_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_charge_energy_storage_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_high_level_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_high_temperature_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_insulation_resist_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_jump_level_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_low_level_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_max_volt_veh_energy_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_min_volt_veh_energy_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_over_charge_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_poor_cell_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: ev_battery_temp_diff_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: forward_collision_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: fuel_door_open}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: hill_descent_control_fault}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: hill_start_assist_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: hv_interlocking_status_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: lighting_system_failure}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: malfunction_indicator}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: motor_controller_temp_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: park_aid_malfunction}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: passive_entry_passive_start}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: powertrain_malfunction}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: restraints_indicator_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: start_stop_engine_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: traction_control_disabled}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: traction_control_active}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: traction_motor_temp_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: tire_pressure_monitor_system_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: water_in_fuel}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: tire_warning_front_right}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: tire_warning_front_left}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: tire_warning_rear_right}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: tire_warning_rear_left}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: tire_warning_system_error}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: battery_low_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {name: {value: brake_fluid_warning}, state: {value: off}}, timestamp: '2021-01-11T08:09:28.596Z'}
        type: array
        items:
            type: object
            properties: {name: {type: string, enum: [high_beam, low_beam, hazard_warning, brake_failure, hatch_open, fuel_level, engine_coolant_temperature, battery_charging_condition, engine_oil, position_lights, front_fog_light, rear_fog_light, park_heating, engine_indicator, service_call, transmission_fluid_temperature, transmission_failure, anti_lock_brake_failure, worn_brake_linings, windscreen_washer_fluid, tire_failure, engine_oil_level, engine_coolant_level, steering_failure, esc_indication, brake_lights, adblue_level, fuel_filter_diff_pressure, seat_belt, advanced_braking, acc, trailer_connected, airbag, esc_switched_off, lane_departure_warning_off, air_filter_minder, air_suspension_ride_control_fault, all_wheel_drive_disabled, anti_theft, blind_spot_detection, charge_system_fault, check_fuel_cap, check_fuel_fill_inlet, check_fuel_filter, dc_temp_warning, dc_warning_status, diesel_engine_idle_shutdown, diesel_engine_warning, diesel_exhaust_fluid_system_fault, diesel_exhaust_over_temp, diesel_exhaust_fluid_quality, diesel_filter_regeneration, diesel_particulate_filter, diesel_pre_heat, electric_trailer_brake_connection, ev_battery_cell_max_volt_warning, ev_battery_cell_min_volt_warning, ev_battery_charge_energy_storage_warning, ev_battery_high_level_warning, ev_battery_high_temperature_warning, ev_battery_insulation_resist_warning, ev_battery_jump_level_warning, ev_battery_low_level_warning, ev_battery_max_volt_veh_energy_warning, ev_battery_min_volt_veh_energy_warning, ev_battery_over_charge_warning, ev_battery_poor_cell_warning, ev_battery_temp_diff_warning, forward_collision_warning, fuel_door_open, hill_descent_control_fault, hill_start_assist_warning, hv_interlocking_status_warning, lighting_system_failure, malfunction_indicator, motor_controller_temp_warning, park_aid_malfunction, passive_entry_passive_start, powertrain_malfunction, restraints_indicator_warning, start_stop_engine_warning, traction_control_disabled, traction_control_active, traction_motor_temp_warning, tire_pressure_monitor_system_warning, water_in_fuel, tire_warning_front_right, tire_warning_front_left, tire_warning_rear_right, tire_warning_rear_left, tire_warning_system_error, battery_low_warning, brake_fluid_warning]}, state: {type: string, enum: [off, on]}}
    dashboardLights:
        type: object
        properties:
            dashboardLights: {$ref: '#/definitions/dashboardLights.dashboardLights'}
    diagnostics.mileage:
        description: 'The vehicle mileage (odometer)'
        example:
            data: {value: 150000, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.engineOilTemperature:
        description: 'Engine oil temperature'
        example:
            data: {value: 99.5, unit: celsius}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.speed:
        description: 'The vehicle speed'
        example:
            data: {value: 60, unit: kilometers_per_hour}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.engineRPM:
        description: 'Engine RPM (revolutions per minute)'
        example:
            data: {value: 2500, unit: revolutions_per_minute}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.fuelLevel:
        description: 'Fuel level percentage between 0.0-1.0'
        example:
            data: {value: 0.9}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: number
        format: double
    diagnostics.estimatedRange:
        description: 'Estimated range (with combustion engine)'
        example:
            data: {value: 265, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.washerFluidLevel:
        example:
            data: {value: filled}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: string
        enum:
            - low
            - filled
    diagnostics.batteryVoltage:
        description: 'Battery voltage'
        example:
            data: {value: 12.1, unit: volts}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.adBlueLevel:
        description: 'AdBlue level percentage between 0.0-1.0'
        example:
            data: {value: 0.9}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: number
        format: double
    diagnostics.distanceSinceReset:
        description: 'The distance driven since reset'
        example:
            data: {value: 1500.1, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.distanceSinceStart:
        description: 'The distance driven since trip start'
        example:
            data: {value: 12.4, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.fuelVolume:
        description: 'The fuel volume measured in liters'
        example:
            data: {value: 35.5, unit: liters}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.antiLockBraking:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: string
        enum:
            - inactive
            - active
    diagnostics.engineCoolantTemperature:
        description: 'Engine coolant temperature'
        example:
            data: {value: 20, unit: celsius}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.engineTotalOperatingHours:
        description: 'The accumulated time of engine operation'
        example:
            data: {value: 1500.65, unit: hours}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.engineTotalFuelConsumption:
        description: 'The accumulated lifespan fuel consumption'
        example:
            data: {value: 27587, unit: liters}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.brakeFluidLevel:
        example:
            data: {value: low}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: string
        enum:
            - low
            - filled
    diagnostics.engineTorque:
        description: 'Current engine torque percentage between 0.0-1.0'
        example:
            data: {value: 0.2}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: number
        format: double
    diagnostics.engineLoad:
        description: 'Current engine load percentage between 0.0-1.0'
        example:
            data: {value: 0.1}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: number
        format: double
    diagnostics.wheelBasedSpeed:
        description: 'The vehicle speed measured at the wheel base'
        example:
            data: {value: 65, unit: kilometers_per_hour}
            timestamp: '2021-01-11T08:09:28.596Z'
    diagnostics.batteryLevel:
        description: 'Battery level in %, value between 0.0 and 1.0'
        example:
            data: {value: 0.56}
            timestamp: '2021-01-11T08:09:28.596Z'
        type: number
        format: double
    diagnostics.checkControlMessages:
        example:
            - {data: {ID: {value: 1}, remainingTime: {value: 105592, unit: minutes}, text: {value: 'Check engine'}, status: {value: Alert}}, timestamp: '2021-01-11T08:09:28.596Z'}
        type: array
        items:
            type: object
            properties: {ID: {description: 'Check Control Message identifier', type: number, format: integer}, remainingTime: {description: 'Remaining time of the message'}, text: {description: 'CCM text', type: string}, status: {description: 'CCM status', type: string}}
    diagnostics.tirePressures:
        example:
            - {data: {location: {value: front_left}, pressure: {value: 2.31, unit: bars}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: front_right}, pressure: {value: 2.31, unit: bars}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_right}, pressure: {value: 2.24, unit: bars}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_left}, pressure: {value: 2.24, unit: bars}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_right_outer}, pressure: {value: 2.25, unit: bars}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_left_outer}, pressure: {value: 2.25, unit: bars}}, timestamp: '2021-01-11T08:09:28.596Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, pressure: {description: 'Tire pressure'}}
    diagnostics.tireTemperatures:
        example:
            - {data: {location: {value: front_left}, temperature: {value: 40.1, unit: celsius}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: front_right}, temperature: {value: 40.2, unit: celsius}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_right}, temperature: {value: 40.3, unit: celsius}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_left}, temperature: {value: 40.4, unit: celsius}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_right_outer}, temperature: {value: 40.5, unit: celsius}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_left_outer}, temperature: {value: 40.6, unit: celsius}}, timestamp: '2021-01-11T08:09:28.596Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, temperature: {description: 'Tire temperature'}}
    diagnostics.wheelRPMs:
        example:
            - {data: {location: {value: front_left}, RPM: {value: 737, unit: revolutions_per_minute}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: front_right}, RPM: {value: 747, unit: revolutions_per_minute}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_right}, RPM: {value: 777, unit: revolutions_per_minute}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_left}, RPM: {value: 787, unit: revolutions_per_minute}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_right_outer}, RPM: {value: 797, unit: revolutions_per_minute}}, timestamp: '2021-01-11T08:09:28.596Z'}
            - {data: {location: {value: rear_left_outer}, RPM: {value: 807, unit: revolutions_per_minute}}, timestamp: '2021-01-11T08:09:28.596Z'}
        type: array
        items:
            type: object
            properties: {location: {description: 'Wheel location', type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, RPM: {description: 'The RPM measured at this wheel'}}
    diagnostics.troubleCodes:
        example:
            - {data: {occurrences: {value: 2}, ID: {value: C1116FA}, ecuID: {value: RDU_212FR}, status: {value: PENDING}, system: {value: unknown}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {occurrences: {value: 2}, ID: {value: C163AFA}, ecuID: {value: DTR212}, status: {value: PENDING}, system: {value: body}}, timestamp: '2021-01-11T08:09:28.597Z'}
        type: array
        items:
            type: object
            properties: {occurrences: {description: 'Number of occurrences', type: number, format: integer}, ID: {description: Identifier, type: string}, ecuID: {description: 'Electronic Control Unit identifier', type: string}, status: {description: Status, type: string}, system: {type: string, enum: [unknown, body, chassis, powertrain, network]}}
    diagnostics.mileageMeters:
        description: 'The vehicle mileage (odometer) in meters'
        example:
            data: {value: 150001, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.597Z'
    diagnostics.odometer:
        description: 'The vehicle odometer value in a given units.'
        example:
            data: {value: 6.4, unit: megameters}
            timestamp: '2021-01-11T08:09:28.597Z'
    diagnostics.engineTotalOperatingTime:
        description: 'The accumulated time of engine operation'
        example:
            data: {value: 1500.65, unit: hours}
            timestamp: '2021-01-11T08:09:28.597Z'
    diagnostics.tirePressureStatuses:
        example:
            - {data: {location: {value: front_left}, status: {value: normal}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: front_right}, status: {value: low}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_right}, status: {value: alert}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_left}, status: {value: normal}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_right_outer}, status: {value: normal}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_left_outer}, status: {value: normal}}, timestamp: '2021-01-11T08:09:28.597Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, rear_right_outer, rear_left_outer]}, status: {type: string, enum: [normal, low, alert]}}
    diagnostics.brakeLiningWearPreWarning:
        description: 'Status of brake lining wear pre-warning'
        example:
            data: {value: inactive}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
        enum:
            - inactive
            - active
    diagnostics.engineOilLifeRemaining:
        description: 'Remaining life of engine oil which decreases over time'
        example:
            data: {value: 0.88}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: number
        format: double
    diagnostics.oemTroubleCodeValues:
        description: 'Additional OEM trouble codes'
        example:
            - {data: {ID: {value: 123ID}, keyValue: {key: {value: some_error}, value: {value: some_value}}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {ID: {value: 1B3C}, keyValue: {key: {value: important_error}, value: {value: 'system fault 32'}}}, timestamp: '2021-01-11T08:09:28.597Z'}
        type: array
        items:
            type: object
            properties: {ID: {description: 'Identifier for the trouble code', type: string}, keyValue: {description: 'Key-value pair for the trouble code', type: object, properties: {key: {description: 'Key for the value', type: string}, value: {description: 'Value for the key', type: string}}}}
    diagnostics.dieselExhaustFluidRange:
        description: 'Distance remaining until diesel exhaust fluid is empty'
        example:
            data: {value: 2233, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.597Z'
    diagnostics.dieselParticulateFilterSootLevel:
        description: 'Level of soot in diesel exhaust particulate filter'
        example:
            data: {value: 0.16}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: number
        format: double
    diagnostics.confirmedTroubleCodes:
        example:
            - {data: {ID: {value: 801C10}, ecuAddress: {value: '16'}, ecuVariantName: {value: CAS}, status: {value: ACTIVE}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {ID: {value: D52C44}, ecuAddress: {value: '48'}, ecuVariantName: {value: CAS}, status: {value: ACTIVE}}, timestamp: '2021-01-11T08:09:28.597Z'}
        type: array
        items:
            type: object
            properties: {ID: {description: Identifier, type: string}, ecuAddress: {description: 'Electronic Control Unit address', type: string}, ecuVariantName: {description: 'Electronic Control Unit variant name', type: string}, status: {description: Status, type: string}}
    diagnostics.dieselExhaustFilterStatus:
        example:
            data: {status: {value: unknown}, component: {value: exhaust_filter}, cleaning: {value: unknown}}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: object
        properties:
            status: {type: string, enum: [unknown, normal_operation, overloaded, at_limit, over_limit]}
            component: {type: string, enum: [unknown, exhaust_filter, diesel_particulate_filter, overboost_code_regulator, off_board_regeneration]}
            cleaning: {type: string, enum: [unknown, in_progress, complete, interrupted]}
    diagnostics:
        type: object
        properties:
            mileage: {$ref: '#/definitions/diagnostics.mileage'}
            engineOilTemperature: {$ref: '#/definitions/diagnostics.engineOilTemperature'}
            speed: {$ref: '#/definitions/diagnostics.speed'}
            engineRPM: {$ref: '#/definitions/diagnostics.engineRPM'}
            fuelLevel: {$ref: '#/definitions/diagnostics.fuelLevel'}
            estimatedRange: {$ref: '#/definitions/diagnostics.estimatedRange'}
            washerFluidLevel: {$ref: '#/definitions/diagnostics.washerFluidLevel'}
            batteryVoltage: {$ref: '#/definitions/diagnostics.batteryVoltage'}
            adBlueLevel: {$ref: '#/definitions/diagnostics.adBlueLevel'}
            distanceSinceReset: {$ref: '#/definitions/diagnostics.distanceSinceReset'}
            distanceSinceStart: {$ref: '#/definitions/diagnostics.distanceSinceStart'}
            fuelVolume: {$ref: '#/definitions/diagnostics.fuelVolume'}
            antiLockBraking: {$ref: '#/definitions/diagnostics.antiLockBraking'}
            engineCoolantTemperature: {$ref: '#/definitions/diagnostics.engineCoolantTemperature'}
            engineTotalOperatingHours: {$ref: '#/definitions/diagnostics.engineTotalOperatingHours'}
            engineTotalFuelConsumption: {$ref: '#/definitions/diagnostics.engineTotalFuelConsumption'}
            brakeFluidLevel: {$ref: '#/definitions/diagnostics.brakeFluidLevel'}
            engineTorque: {$ref: '#/definitions/diagnostics.engineTorque'}
            engineLoad: {$ref: '#/definitions/diagnostics.engineLoad'}
            wheelBasedSpeed: {$ref: '#/definitions/diagnostics.wheelBasedSpeed'}
            batteryLevel: {$ref: '#/definitions/diagnostics.batteryLevel'}
            checkControlMessages: {$ref: '#/definitions/diagnostics.checkControlMessages'}
            tirePressures: {$ref: '#/definitions/diagnostics.tirePressures'}
            tireTemperatures: {$ref: '#/definitions/diagnostics.tireTemperatures'}
            wheelRPMs: {$ref: '#/definitions/diagnostics.wheelRPMs'}
            troubleCodes: {$ref: '#/definitions/diagnostics.troubleCodes'}
            mileageMeters: {$ref: '#/definitions/diagnostics.mileageMeters'}
            odometer: {$ref: '#/definitions/diagnostics.odometer'}
            engineTotalOperatingTime: {$ref: '#/definitions/diagnostics.engineTotalOperatingTime'}
            tirePressureStatuses: {$ref: '#/definitions/diagnostics.tirePressureStatuses'}
            brakeLiningWearPreWarning: {$ref: '#/definitions/diagnostics.brakeLiningWearPreWarning'}
            engineOilLifeRemaining: {$ref: '#/definitions/diagnostics.engineOilLifeRemaining'}
            oemTroubleCodeValues: {$ref: '#/definitions/diagnostics.oemTroubleCodeValues'}
            dieselExhaustFluidRange: {$ref: '#/definitions/diagnostics.dieselExhaustFluidRange'}
            dieselParticulateFilterSootLevel: {$ref: '#/definitions/diagnostics.dieselParticulateFilterSootLevel'}
            confirmedTroubleCodes: {$ref: '#/definitions/diagnostics.confirmedTroubleCodes'}
            dieselExhaustFilterStatus: {$ref: '#/definitions/diagnostics.dieselExhaustFilterStatus'}
    doors.insideLocks:
        description: 'Inside lock states for the given doors'
        example:
            - {data: {location: {value: front_left}, lockState: {value: locked}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: front_right}, lockState: {value: unlocked}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_right}, lockState: {value: unlocked}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_left}, lockState: {value: unlocked}}, timestamp: '2021-01-11T08:09:28.597Z'}
        type: array
        items:
            type: object
            properties: {location: {description: 'Door location', type: string, enum: [front_left, front_right, rear_right, rear_left]}, lockState: {description: 'Lock state for the door', type: string, enum: [unlocked, locked]}}
    doors.locks:
        description: 'Lock states for the given doors'
        example:
            - {data: {location: {value: front_left}, lockState: {value: unlocked}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: front_right}, lockState: {value: unlocked}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_right}, lockState: {value: locked}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_left}, lockState: {value: locked}}, timestamp: '2021-01-11T08:09:28.597Z'}
        type: array
        items:
            type: object
            properties: {location: {description: 'Door location', type: string, enum: [front_left, front_right, rear_right, rear_left]}, lockState: {description: 'Lock state for the door', type: string, enum: [unlocked, locked]}}
    doors.positions:
        description: 'Door positions for the given doors'
        example:
            - {data: {location: {value: front_left}, position: {value: open}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: front_right}, position: {value: closed}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_right}, position: {value: closed}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: rear_left}, position: {value: closed}}, timestamp: '2021-01-11T08:09:28.597Z'}
            - {data: {location: {value: all}, position: {value: closed}}, timestamp: '2021-01-11T08:09:28.597Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left, all]}, position: {type: string, enum: [closed, open]}}
    doors.insideLocksState:
        description: 'Inside locks state for the whole vehicle (combines all specific lock states if available)'
        example:
            data: {value: locked}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
        enum:
            - unlocked
            - locked
    doors.locksState:
        description: 'Locks state for the whole vehicle (combines all specific lock states if available)'
        example:
            data: {value: unlocked}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
        enum:
            - unlocked
            - locked
    doors:
        type: object
        properties:
            insideLocks: {$ref: '#/definitions/doors.insideLocks'}
            locks: {$ref: '#/definitions/doors.locks'}
            positions: {$ref: '#/definitions/doors.positions'}
            insideLocksState: {$ref: '#/definitions/doors.insideLocksState'}
            locksState: {$ref: '#/definitions/doors.locksState'}
    engine.status:
        example:
            data: {value: off}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
        enum:
            - off
            - on
    engine.startStopState:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
        enum:
            - inactive
            - active
    engine:
        type: object
        properties:
            status: {$ref: '#/definitions/engine.status'}
            startStopState: {$ref: '#/definitions/engine.startStopState'}
    failureMessage.failedMessageID:
        description: 'Capability identifier of the failed message'
        example:
            data: {value: 33}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: number
        format: integer
    failureMessage.failedMessageType:
        description: 'Message type of the failed message'
        example:
            data: {value: 1}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: number
        format: integer
    failureMessage.failureReason:
        example:
            data: {value: unauthorised}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
        enum:
            - unsupported_capability
            - unauthorised
            - incorrect_state
            - execution_timeout
            - vehicle_asleep
            - invalid_command
            - pending
            - rate_limit
            - oem_error
    failureMessage.failureDescription:
        description: 'Failure description'
        example:
            data: {value: 'Try again'}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
    failureMessage.failedPropertyIDs:
        description: 'Array of failed property identifiers'
        example:
            data: [1, 2]
            timestamp: '2021-01-11T08:09:28.597Z'
        type: array
        items:
            type: number
            format: integer
    failureMessage:
        type: object
        properties:
            failedMessageID: {$ref: '#/definitions/failureMessage.failedMessageID'}
            failedMessageType: {$ref: '#/definitions/failureMessage.failedMessageType'}
            failureReason: {$ref: '#/definitions/failureMessage.failureReason'}
            failureDescription: {$ref: '#/definitions/failureMessage.failureDescription'}
            failedPropertyIDs: {$ref: '#/definitions/failureMessage.failedPropertyIDs'}
    firmwareVersion.hmKitVersion:
        description: 'HMKit version'
        example:
            data: {major: {value: 1}, minor: {value: 15}, patch: {value: 33}}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: object
        properties:
            major: {description: 'HMKit version major number', type: number, format: integer}
            minor: {description: 'HMKit version minor number', type: number, format: integer}
            patch: {description: 'HMKit version patch number', type: number, format: integer}
    firmwareVersion.hmKitBuildName:
        description: 'HMKit version build name'
        example:
            data: {value: btstack-uart}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
    firmwareVersion.applicationVersion:
        description: 'Application version'
        example:
            data: {value: v1.5-prod}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
    firmwareVersion:
        type: object
        properties:
            hmKitVersion: {$ref: '#/definitions/firmwareVersion.hmKitVersion'}
            hmKitBuildName: {$ref: '#/definitions/firmwareVersion.hmKitBuildName'}
            applicationVersion: {$ref: '#/definitions/firmwareVersion.applicationVersion'}
    fueling.gasFlapLock:
        example:
            data: {value: locked}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
        enum:
            - unlocked
            - locked
    fueling.gasFlapPosition:
        example:
            data: {value: closed}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
        enum:
            - closed
            - open
    fueling:
        type: object
        properties:
            gasFlapLock: {$ref: '#/definitions/fueling.gasFlapLock'}
            gasFlapPosition: {$ref: '#/definitions/fueling.gasFlapPosition'}
    graphics.imageURL:
        description: 'The image URL'
        example:
            data: {value: 'https://about.high-mobility.com/assets/images/hm-logo.svg'}
            timestamp: '2021-01-11T08:09:28.597Z'
        type: string
    historical.states:
        description: 'The bytes of a Capability state'
        example:
            - {data: {doors: {locksState: {data: {value: unlocked}}, positions: [{data: {location: {value: front_left}, position: {value: open}}}, {data: {location: {value: rear_right}, position: {value: open}}}], timestamp: {data: {value: '2017-01-10T16:32:05.000Z'}}}}, timestamp: '2021-01-11T08:09:28.598Z'}
            - {data: {charging: {chargePortState: {data: {value: open}}, chargeMode: {data: {value: immediate}}, chargingRate: {data: {value: 35, unit: kilowatts}}, maxRange: {data: {value: 555, unit: kilometers}}, timestamp: {data: {value: '2017-01-10T16:32:05.000Z'}}}}, timestamp: '2021-01-11T08:09:28.598Z'}
        type: array
        items:
            type: capability_state
    historical.capabilityID:
        description: 'The identifier of the Capability'
        example:
            data: {value: 96}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: number
        format: integer
    historical.startDate:
        description: 'Start date for historical data query'
        example:
            data: {value: '2019-10-07T13:04:32.000Z'}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        format: date-time
    historical.endDate:
        description: 'End date for historical data query'
        example:
            data: {value: '2019-09-27T08:42:30.000Z'}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        format: date-time
    historical:
        type: object
        properties:
            states: {$ref: '#/definitions/historical.states'}
    homeCharger.chargingStatus:
        example:
            data: {value: charging}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        enum:
            - disconnected
            - plugged_in
            - charging
    homeCharger.authenticationMechanism:
        example:
            data: {value: app}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        enum:
            - pin
            - app
    homeCharger.plugType:
        example:
            data: {value: type_2}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        enum:
            - type_1
            - type_2
            - ccs
            - chademo
    homeCharger.chargingPowerKW:
        description: 'Charging power'
        example:
            data: {value: 11.5, unit: kilowatts}
            timestamp: '2021-01-11T08:09:28.598Z'
    homeCharger.solarCharging:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        enum:
            - inactive
            - active
    homeCharger.wifiHotspotEnabled:
        example:
            data: {value: enabled}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        enum:
            - disabled
            - enabled
    homeCharger.wifiHotspotSSID:
        description: 'The Wi-Fi Hotspot SSID'
        example:
            data: {value: 'Charger 7612'}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
    homeCharger.wiFiHotspotSecurity:
        example:
            data: {value: wpa2_personal}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        enum:
            - none
            - wep
            - wpa
            - wpa2_personal
    homeCharger.wiFiHotspotPassword:
        description: 'The Wi-Fi Hotspot password'
        example:
            data: {value: ZW3vARNUBe}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
    homeCharger.authenticationState:
        example:
            data: {value: authenticated}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        enum:
            - unauthenticated
            - authenticated
    homeCharger.chargeCurrent:
        description: 'The charge current'
        example:
            data: {value: 0.5, unit: amperes}
            timestamp: '2021-01-11T08:09:28.598Z'
    homeCharger.maximumChargeCurrent:
        description: 'The maximum possible charge current'
        example:
            data: {value: 1, unit: amperes}
            timestamp: '2021-01-11T08:09:28.598Z'
    homeCharger.minimumChargeCurrent:
        description: 'The minimal possible charge current'
        example:
            data: {value: 0.1, unit: amperes}
            timestamp: '2021-01-11T08:09:28.598Z'
    homeCharger.coordinates:
        example:
            data: {latitude: {value: 52.520008}, longitude: {value: 13.404954}}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: object
        properties:
            latitude: {description: Latitude, type: number, format: double}
            longitude: {description: Longitude, type: number, format: double}
    homeCharger.priceTariffs:
        example:
            - {data: {pricingType: {value: starting_fee}, price: {value: 4.5}, currency: {value: EUR}}, timestamp: '2021-01-11T08:09:28.598Z'}
            - {data: {pricingType: {value: per_minute}, price: {value: 0.3}, currency: {value: EUR}}, timestamp: '2021-01-11T08:09:28.598Z'}
            - {data: {pricingType: {value: per_kwh}, price: {value: 0.3}, currency: {value: Ripple}}, timestamp: '2021-01-11T08:09:28.598Z'}
        type: array
        items:
            type: object
            properties: {pricingType: {type: string, enum: [starting_fee, per_minute, per_kwh]}, price: {description: 'The price', type: number, format: double}, currency: {description: 'The currency alphabetic code per ISO 4217 or crypto currency symbol', type: string}}
    homeCharger.chargingPower:
        description: 'Charging power output from the charger'
        example:
            data: {value: 350, unit: kilowatts}
            timestamp: '2021-01-11T08:09:28.598Z'
    homeCharger:
        type: object
        properties:
            chargingStatus: {$ref: '#/definitions/homeCharger.chargingStatus'}
            authenticationMechanism: {$ref: '#/definitions/homeCharger.authenticationMechanism'}
            plugType: {$ref: '#/definitions/homeCharger.plugType'}
            chargingPowerKW: {$ref: '#/definitions/homeCharger.chargingPowerKW'}
            solarCharging: {$ref: '#/definitions/homeCharger.solarCharging'}
            wifiHotspotEnabled: {$ref: '#/definitions/homeCharger.wifiHotspotEnabled'}
            wifiHotspotSSID: {$ref: '#/definitions/homeCharger.wifiHotspotSSID'}
            wiFiHotspotSecurity: {$ref: '#/definitions/homeCharger.wiFiHotspotSecurity'}
            wiFiHotspotPassword: {$ref: '#/definitions/homeCharger.wiFiHotspotPassword'}
            authenticationState: {$ref: '#/definitions/homeCharger.authenticationState'}
            chargeCurrent: {$ref: '#/definitions/homeCharger.chargeCurrent'}
            maximumChargeCurrent: {$ref: '#/definitions/homeCharger.maximumChargeCurrent'}
            minimumChargeCurrent: {$ref: '#/definitions/homeCharger.minimumChargeCurrent'}
            coordinates: {$ref: '#/definitions/homeCharger.coordinates'}
            priceTariffs: {$ref: '#/definitions/homeCharger.priceTariffs'}
            chargingPower: {$ref: '#/definitions/homeCharger.chargingPower'}
    honkHornFlashLights.flashers:
        example:
            data: {value: left_flasher_active}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        enum:
            - inactive
            - emergency_flasher_active
            - left_flasher_active
            - right_flasher_active
    honkHornFlashLights.honkSeconds:
        description: 'Time to honk the horn'
        example:
            data: {value: 3, unit: seconds}
            timestamp: '2021-01-11T08:09:28.598Z'
    honkHornFlashLights.flashTimes:
        description: 'Number of times to flash the lights'
        example:
            data: {value: 5}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: number
        format: integer
    honkHornFlashLights.emergencyFlashersState:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.598Z'
        type: string
        enum:
            - inactive
            - active
    honkHornFlashLights.honkTime:
        description: 'Time to honk the horn'
        example:
            data: {value: 2, unit: seconds}
            timestamp: '2021-01-11T08:09:28.598Z'
    honkHornFlashLights:
        type: object
        properties:
            flashers: {$ref: '#/definitions/honkHornFlashLights.flashers'}
    hood.position:
        example:
            data: {value: open}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - closed
            - open
            - intermediate
    hood:
        type: object
        properties:
            position: {$ref: '#/definitions/hood.position'}
    ignition.status:
        example:
            data: {value: off}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - off
            - on
    ignition.accessoriesStatus:
        example:
            data: {value: on}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - off
            - on
    ignition.state:
        example:
            data: {value: accessory}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - lock
            - off
            - accessory
            - on
            - start
    ignition:
        type: object
        properties:
            status: {$ref: '#/definitions/ignition.status'}
            accessoriesStatus: {$ref: '#/definitions/ignition.accessoriesStatus'}
            state: {$ref: '#/definitions/ignition.state'}
    lightConditions.outsideLight:
        description: 'Measured outside illuminance'
        example:
            data: {value: 111000, unit: lux}
            timestamp: '2021-01-11T08:09:28.599Z'
    lightConditions.insideLight:
        description: 'Measured inside illuminance'
        example:
            data: {value: 0.25, unit: lux}
            timestamp: '2021-01-11T08:09:28.599Z'
    lightConditions:
        type: object
        properties:
            outsideLight: {$ref: '#/definitions/lightConditions.outsideLight'}
            insideLight: {$ref: '#/definitions/lightConditions.insideLight'}
    lights.frontExteriorLight:
        example:
            data: {value: active_with_full_beam}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - inactive
            - active
            - active_with_full_beam
            - drl
            - automatic
    lights.rearExteriorLight:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - inactive
            - active
    lights.ambientLightColour:
        example:
            data: {red: {value: 255}, green: {value: 0}, blue: {value: 0}}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: object
        properties:
            red: {description: 'The red component of RGB', type: number, format: integer}
            green: {description: 'The green component of RGB', type: number, format: integer}
            blue: {description: 'The blue component of RGB', type: number, format: integer}
    lights.reverseLight:
        example:
            data: {value: inactive}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - inactive
            - active
    lights.emergencyBrakeLight:
        example:
            data: {value: inactive}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - inactive
            - active
    lights.fogLights:
        example:
            - {data: {location: {value: front}, state: {value: inactive}}, timestamp: '2021-01-11T08:09:28.599Z'}
            - {data: {location: {value: rear}, state: {value: active}}, timestamp: '2021-01-11T08:09:28.599Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front, rear]}, state: {type: string, enum: [inactive, active]}}
    lights.readingLamps:
        example:
            - {data: {location: {value: front_left}, state: {value: active}}, timestamp: '2021-01-11T08:09:28.599Z'}
            - {data: {location: {value: front_right}, state: {value: active}}, timestamp: '2021-01-11T08:09:28.599Z'}
            - {data: {location: {value: rear_right}, state: {value: inactive}}, timestamp: '2021-01-11T08:09:28.599Z'}
            - {data: {location: {value: rear_left}, state: {value: inactive}}, timestamp: '2021-01-11T08:09:28.599Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front_left, front_right, rear_right, rear_left]}, state: {type: string, enum: [inactive, active]}}
    lights.interiorLights:
        example:
            - {data: {location: {value: front}, state: {value: inactive}}, timestamp: '2021-01-11T08:09:28.599Z'}
            - {data: {location: {value: rear}, state: {value: active}}, timestamp: '2021-01-11T08:09:28.599Z'}
        type: array
        items:
            type: object
            properties: {location: {type: string, enum: [front, rear]}, state: {type: string, enum: [inactive, active]}}
    lights.switchPosition:
        description: 'Position of the rotary light switch'
        example:
            data: {value: parking_light_right}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - automatic
            - dipped_headlights
            - parking_light_right
            - parking_light_left
            - sidelights
    lights:
        type: object
        properties:
            frontExteriorLight: {$ref: '#/definitions/lights.frontExteriorLight'}
            rearExteriorLight: {$ref: '#/definitions/lights.rearExteriorLight'}
            ambientLightColour: {$ref: '#/definitions/lights.ambientLightColour'}
            reverseLight: {$ref: '#/definitions/lights.reverseLight'}
            emergencyBrakeLight: {$ref: '#/definitions/lights.emergencyBrakeLight'}
            fogLights: {$ref: '#/definitions/lights.fogLights'}
            readingLamps: {$ref: '#/definitions/lights.readingLamps'}
            interiorLights: {$ref: '#/definitions/lights.interiorLights'}
            switchPosition: {$ref: '#/definitions/lights.switchPosition'}
    maintenance.daysToNextService:
        description: 'Time until next servicing of the car'
        example:
            data: {value: 501, unit: days}
            timestamp: '2021-01-11T08:09:28.599Z'
    maintenance.kilometersToNextService:
        description: 'The distance until next servicing of the vehicle'
        example:
            data: {value: 3681, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.599Z'
    maintenance.cbsReportsCount:
        description: 'The number of CBS reports'
        example:
            data: {value: 3}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: number
        format: integer
    maintenance.monthsToExhaustInspection:
        description: 'Time until exhaust inspection'
        example:
            data: {value: 5, unit: months}
            timestamp: '2021-01-11T08:09:28.599Z'
    maintenance.teleserviceAvailability:
        example:
            data: {value: successful}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - pending
            - idle
            - successful
            - error
    maintenance.serviceDistanceThreshold:
        description: 'Distance threshold for service'
        example:
            data: {value: 5000, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.599Z'
    maintenance.serviceTimeThreshold:
        description: 'Time threshold for service'
        example:
            data: {value: 4, unit: weeks}
            timestamp: '2021-01-11T08:09:28.599Z'
    maintenance.automaticTeleserviceCallDate:
        description: 'Automatic teleservice call date'
        example:
            data: {value: '2018-11-23T11:33:50.000Z'}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        format: date-time
    maintenance.teleserviceBatteryCallDate:
        description: 'Teleservice batter call date'
        example:
            data: {value: '2018-11-23T10:36:50.000Z'}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        format: date-time
    maintenance.nextInspectionDate:
        description: 'Next inspection date'
        example:
            data: {value: '2018-10-23T14:38:47.000Z'}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        format: date-time
    maintenance.conditionBasedServices:
        example:
            - {data: {year: {value: 2019}, month: {value: 5}, id: {value: 3}, dueStatus: {value: ok}, text: {value: 'Brake fluid'}, description: {value: 'Next change at specified date at the latest.'}}, timestamp: '2021-01-11T08:09:28.599Z'}
        type: array
        items:
            type: object
            properties: {year: {description: 'The year', type: number, format: integer}, month: {description: 'Value between 1 and 12', type: number, format: integer}, id: {description: 'CBS identifier', type: number, format: integer}, dueStatus: {type: string, enum: [ok, pending, overdue]}, text: {description: 'CBS text', type: string}, description: {description: Description, type: string}}
    maintenance.brakeFluidChangeDate:
        description: 'Brake fluid change date'
        example:
            data: {value: '2018-12-05T03:22:56.000Z'}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        format: date-time
    maintenance.timeToNextService:
        description: 'Time until next servicing of the vehicle'
        example:
            data: {value: 501, unit: days}
            timestamp: '2021-01-11T08:09:28.599Z'
    maintenance.distanceToNextService:
        description: 'The distance until next servicing of the vehicle'
        example:
            data: {value: 3681, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.599Z'
    maintenance.timeToExhaustInspection:
        description: 'Time until exhaust inspection'
        example:
            data: {value: 5, unit: months}
            timestamp: '2021-01-11T08:09:28.599Z'
    maintenance.lastECall:
        description: 'Date-time of the last eCall'
        example:
            data: {value: '2018-12-05T03:22:56.000Z'}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        format: date-time
    maintenance:
        type: object
        properties:
            daysToNextService: {$ref: '#/definitions/maintenance.daysToNextService'}
            kilometersToNextService: {$ref: '#/definitions/maintenance.kilometersToNextService'}
            cbsReportsCount: {$ref: '#/definitions/maintenance.cbsReportsCount'}
            monthsToExhaustInspection: {$ref: '#/definitions/maintenance.monthsToExhaustInspection'}
            teleserviceAvailability: {$ref: '#/definitions/maintenance.teleserviceAvailability'}
            serviceDistanceThreshold: {$ref: '#/definitions/maintenance.serviceDistanceThreshold'}
            serviceTimeThreshold: {$ref: '#/definitions/maintenance.serviceTimeThreshold'}
            automaticTeleserviceCallDate: {$ref: '#/definitions/maintenance.automaticTeleserviceCallDate'}
            teleserviceBatteryCallDate: {$ref: '#/definitions/maintenance.teleserviceBatteryCallDate'}
            nextInspectionDate: {$ref: '#/definitions/maintenance.nextInspectionDate'}
            conditionBasedServices: {$ref: '#/definitions/maintenance.conditionBasedServices'}
            brakeFluidChangeDate: {$ref: '#/definitions/maintenance.brakeFluidChangeDate'}
            timeToNextService: {$ref: '#/definitions/maintenance.timeToNextService'}
            distanceToNextService: {$ref: '#/definitions/maintenance.distanceToNextService'}
            timeToExhaustInspection: {$ref: '#/definitions/maintenance.timeToExhaustInspection'}
            lastECall: {$ref: '#/definitions/maintenance.lastECall'}
    messaging.text:
        description: 'The text'
        example:
            data: {value: 'Hey mom!'}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
    messaging.handle:
        description: 'The optional handle of message'
        example:
            data: {value: Epp}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
    messaging:
        type: object
        properties:
            text: {$ref: '#/definitions/messaging.text'}
            handle: {$ref: '#/definitions/messaging.handle'}
    mobile.connection:
        example:
            data: {value: connected}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
        enum:
            - disconnected
            - connected
    mobile:
        type: object
        properties:
            connection: {$ref: '#/definitions/mobile.connection'}
    multiCommand.multiStates:
        description: 'The incoming states'
        example:
            - {data: {doors: {locksState: {data: {value: unlocked}}, positions: [{data: {location: {value: front_left}, position: {value: open}}}, {data: {location: {value: rear_right}, position: {value: open}}}], timestamp: {data: {value: '2017-01-10T16:32:05.000Z'}}}}, timestamp: '2021-01-11T08:09:28.599Z'}
            - {data: {charging: {chargePortState: {data: {value: open}}, chargeMode: {data: {value: immediate}}, chargingRate: {data: {value: 35, unit: kilowatts}}, maxRange: {data: {value: 555, unit: kilometers}}, timestamp: {data: {value: '2017-01-10T16:32:05.000Z'}}}}, timestamp: '2021-01-11T08:09:28.599Z'}
        type: array
        items:
            type: capability_state
    multiCommand.multiCommands:
        description: 'The outgoing commands'
        example:
            - {data: {doors: {insideLocksState: {data: {value: locked}}}}, timestamp: '2021-01-11T08:09:28.599Z'}
            - {data: {ignition: {status: {data: {value: off}}}}, timestamp: '2021-01-11T08:09:28.599Z'}
        type: array
        items:
            type: capability_state
    multiCommand:
        type: object
        properties:
            multiStates: {$ref: '#/definitions/multiCommand.multiStates'}
    naviDestination.coordinates:
        example:
            data: {latitude: {value: 52.520008}, longitude: {value: 13.404954}}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: object
        properties:
            latitude: {description: Latitude, type: number, format: double}
            longitude: {description: Longitude, type: number, format: double}
    naviDestination.destinationName:
        description: 'Destination name'
        example:
            data: {value: Berlin}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: string
    naviDestination.dataSlotsFree:
        description: 'Remaining number of POI data slots available.'
        example:
            data: {value: 14}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: number
        format: integer
    naviDestination.dataSlotsMax:
        description: 'Maximum number of POI data slots.'
        example:
            data: {value: 30}
            timestamp: '2021-01-11T08:09:28.599Z'
        type: number
        format: integer
    naviDestination.arrivalDuration:
        description: 'Remaining time until reaching the destination.'
        example:
            data: {value: 2.6, unit: hours}
            timestamp: '2021-01-11T08:09:28.599Z'
    naviDestination.distanceToDestination:
        description: 'Remaining distance to reach the destination.'
        example:
            data: {value: 1337, unit: kilometers}
            timestamp: '2021-01-11T08:09:28.599Z'
    naviDestination:
        type: object
        properties:
            coordinates: {$ref: '#/definitions/naviDestination.coordinates'}
            destinationName: {$ref: '#/definitions/naviDestination.destinationName'}
            dataSlotsFree: {$ref: '#/definitions/naviDestination.dataSlotsFree'}
            dataSlotsMax: {$ref: '#/definitions/naviDestination.dataSlotsMax'}
            arrivalDuration: {$ref: '#/definitions/naviDestination.arrivalDuration'}
            distanceToDestination: {$ref: '#/definitions/naviDestination.distanceToDestination'}
    notifications.text:
        description: 'Text for the notification'
        example:
            data: {value: 'Open Garage'}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
    notifications.actionItems:
        example:
            - {data: {id: {value: 27}, name: {value: Open}}, timestamp: '2021-01-11T08:09:28.600Z'}
            - {data: {id: {value: 28}, name: {value: Cancel}}, timestamp: '2021-01-11T08:09:28.600Z'}
        type: array
        items:
            type: object
            properties: {id: {description: 'Action identifier', type: number, format: integer}, name: {description: 'Name of the action', type: string}}
    notifications.activatedAction:
        description: 'Identifier of the activated action'
        example:
            data: {value: 27}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: number
        format: integer
    notifications.clear:
        example:
            data: {value: clear}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - clear
    notifications:
        type: object
        properties:
            text: {$ref: '#/definitions/notifications.text'}
            actionItems: {$ref: '#/definitions/notifications.actionItems'}
            activatedAction: {$ref: '#/definitions/notifications.activatedAction'}
            clear: {$ref: '#/definitions/notifications.clear'}
    offroad.routeIncline:
        description: 'The route elevation incline'
        example:
            data: {value: 10.1, unit: degrees}
            timestamp: '2021-01-11T08:09:28.600Z'
    offroad.wheelSuspension:
        description: 'The wheel suspension level percentage, whereas 0.0 is no suspension and 1.0 maximum suspension'
        example:
            data: {value: 0.5}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: number
        format: double
    offroad:
        type: object
        properties:
            routeIncline: {$ref: '#/definitions/offroad.routeIncline'}
            wheelSuspension: {$ref: '#/definitions/offroad.wheelSuspension'}
    parkingBrake.status:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - inactive
            - active
    parkingBrake:
        type: object
        properties:
            status: {$ref: '#/definitions/parkingBrake.status'}
    parkingTicket.status:
        example:
            data: {value: ended}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - ended
            - started
    parkingTicket.operatorName:
        description: 'Operator name'
        example:
            data: {value: 'Berlin Parking'}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
    parkingTicket.operatorTicketID:
        description: 'Operator ticket ID'
        example:
            data: {value: 6489AB4233}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
    parkingTicket.ticketStartTime:
        description: 'Parking ticket start time'
        example:
            data: {value: '2017-01-10T19:34:22.000Z'}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        format: date-time
    parkingTicket.ticketEndTime:
        description: 'Parking ticket end time'
        example:
            data: {value: '2019-10-08T11:21:45.000Z'}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        format: date-time
    parkingTicket:
        type: object
        properties:
            status: {$ref: '#/definitions/parkingTicket.status'}
            operatorName: {$ref: '#/definitions/parkingTicket.operatorName'}
            operatorTicketID: {$ref: '#/definitions/parkingTicket.operatorTicketID'}
            ticketStartTime: {$ref: '#/definitions/parkingTicket.ticketStartTime'}
            ticketEndTime: {$ref: '#/definitions/parkingTicket.ticketEndTime'}
    powerTakeoff.status:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - inactive
            - active
    powerTakeoff.engaged:
        example:
            data: {value: engaged}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - not_engaged
            - engaged
    powerTakeoff:
        type: object
        properties:
            status: {$ref: '#/definitions/powerTakeoff.status'}
            engaged: {$ref: '#/definitions/powerTakeoff.engaged'}
    race.accelerations:
        example:
            - {data: {direction: {value: longitudinal}, acceleration: {value: 0.864, unit: gravity}}, timestamp: '2021-01-11T08:09:28.600Z'}
            - {data: {direction: {value: lateral}, acceleration: {value: -0.753, unit: gravity}}, timestamp: '2021-01-11T08:09:28.600Z'}
            - {data: {direction: {value: front_lateral}, acceleration: {value: 0.753, unit: gravity}}, timestamp: '2021-01-11T08:09:28.600Z'}
            - {data: {direction: {value: rear_lateral}, acceleration: {value: -0.864, unit: gravity}}, timestamp: '2021-01-11T08:09:28.600Z'}
        type: array
        items:
            type: object
            properties: {direction: {type: string, enum: [longitudinal, lateral, front_lateral, rear_lateral]}, acceleration: {description: 'The accelaration'}}
    race.understeering:
        description: 'The understeering percentage between 0.0-1.0 whereas up to 0.2 (20%) is considered OK, up to 0.3 (30%) marginal, over 30% critical'
        example:
            data: {value: 0.19}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: number
        format: double
    race.oversteering:
        description: 'The oversteering percentage between 0.0-1.0 whereas up to 0.2 (20%) is considered OK, up to 30% marginal, over 30% critical'
        example:
            data: {value: 0.05}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: number
        format: double
    race.gasPedalPosition:
        description: 'The gas pedal position between 0.0-1.0, whereas 1.0 (100%) is full throttle'
        example:
            data: {value: 0.98}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: number
        format: double
    race.steeringAngle:
        description: 'The steering angle, whereas 0.0 is straight ahead, positive number to the right and negative number to the left'
        example:
            data: {value: 10, unit: degrees}
            timestamp: '2021-01-11T08:09:28.600Z'
    race.brakePressure:
        description: 'Brake pressure'
        example:
            data: {value: 20, unit: bars}
            timestamp: '2021-01-11T08:09:28.600Z'
    race.yawRate:
        description: 'Yaw turning rate'
        example:
            data: {value: 6.66, unit: degrees_per_second}
            timestamp: '2021-01-11T08:09:28.600Z'
    race.rearSuspensionSteering:
        description: 'Rear suspension steering'
        example:
            data: {value: 3.3, unit: degrees}
            timestamp: '2021-01-11T08:09:28.600Z'
    race.electronicStabilityProgram:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - inactive
            - active
    race.brakeTorqueVectorings:
        example:
            - {data: {axle: {value: front}, state: {value: active}}, timestamp: '2021-01-11T08:09:28.600Z'}
            - {data: {axle: {value: rear}, state: {value: inactive}}, timestamp: '2021-01-11T08:09:28.600Z'}
        type: array
        items:
            type: object
            properties: {axle: {type: string, enum: [front, rear]}, state: {type: string, enum: [inactive, active]}}
    race.gearMode:
        example:
            data: {value: drive}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - manual
            - park
            - reverse
            - neutral
            - drive
            - low_gear
            - sport
    race.selectedGear:
        description: 'The selected gear value, if any'
        example:
            data: {value: 4}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: number
        format: integer
    race.brakePedalPosition:
        description: 'The brake pedal position between 0.0-1.0, wheras 1.0 (100%) is full brakes'
        example:
            data: {value: 0.12}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: number
        format: double
    race.brakePedalSwitch:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - inactive
            - active
    race.clutchPedalSwitch:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - inactive
            - active
    race.acceleratorPedalIdleSwitch:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - inactive
            - active
    race.acceleratorPedalKickdownSwitch:
        example:
            data: {value: active}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - inactive
            - active
    race.vehicleMoving:
        example:
            data: {value: moving}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - not_moving
            - moving
    race:
        type: object
        properties:
            accelerations: {$ref: '#/definitions/race.accelerations'}
            understeering: {$ref: '#/definitions/race.understeering'}
            oversteering: {$ref: '#/definitions/race.oversteering'}
            gasPedalPosition: {$ref: '#/definitions/race.gasPedalPosition'}
            steeringAngle: {$ref: '#/definitions/race.steeringAngle'}
            brakePressure: {$ref: '#/definitions/race.brakePressure'}
            yawRate: {$ref: '#/definitions/race.yawRate'}
            rearSuspensionSteering: {$ref: '#/definitions/race.rearSuspensionSteering'}
            electronicStabilityProgram: {$ref: '#/definitions/race.electronicStabilityProgram'}
            brakeTorqueVectorings: {$ref: '#/definitions/race.brakeTorqueVectorings'}
            gearMode: {$ref: '#/definitions/race.gearMode'}
            selectedGear: {$ref: '#/definitions/race.selectedGear'}
            brakePedalPosition: {$ref: '#/definitions/race.brakePedalPosition'}
            brakePedalSwitch: {$ref: '#/definitions/race.brakePedalSwitch'}
            clutchPedalSwitch: {$ref: '#/definitions/race.clutchPedalSwitch'}
            acceleratorPedalIdleSwitch: {$ref: '#/definitions/race.acceleratorPedalIdleSwitch'}
            acceleratorPedalKickdownSwitch: {$ref: '#/definitions/race.acceleratorPedalKickdownSwitch'}
            vehicleMoving: {$ref: '#/definitions/race.vehicleMoving'}
    rooftopControl.dimming:
        description: '1.0 (100%) is opaque, 0.0 (0%) is transparent'
        example:
            data: {value: 1}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: number
        format: double
    rooftopControl.position:
        description: '1.0 (100%) is fully open, 0.0 (0%) is closed'
        example:
            data: {value: 0.5}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: number
        format: double
    rooftopControl.convertibleRoofState:
        example:
            data: {value: open}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - closed
            - open
            - emergency_locked
            - closed_secured
            - open_secured
            - hard_top_mounted
            - intermediate_position
            - loading_position
            - loading_position_immediate
    rooftopControl.sunroofTiltState:
        example:
            data: {value: half_tilted}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - closed
            - tilted
            - half_tilted
    rooftopControl.sunroofState:
        example:
            data: {value: open}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - closed
            - open
            - intermediate
    rooftopControl.sunroofRainEvent:
        description: 'Sunroof event happened in case of rain'
        example:
            data: {value: no_event}
            timestamp: '2021-01-11T08:09:28.600Z'
        type: string
        enum:
            - no_event
            - in_stroke_position_because_of_rain
            - automatically_in_stroke_position
    rooftopControl:
        type: object
        properties:
            dimming: {$ref: '#/definitions/rooftopControl.dimming'}
            position: {$ref: '#/definitions/rooftopControl.position'}
            convertibleRoofState: {$ref: '#/definitions/rooftopControl.convertibleRoofState'}
            sunroofTiltState: {$ref: '#/definitions/rooftopControl.sunroofTiltState'}
            sunroofState: {$ref: '#/definitions/rooftopControl.sunroofState'}
            sunroofRainEvent: {$ref: '#/definitions/rooftopControl.sunroofRainEvent'}
    seats.personsDetected:
        example:
            - {data: {location: {value: front_left}, detected: {value: detected}}, timestamp: '2021-01-11T08:09:28.600Z'}
            - {data: {location: {value: front_right}, detected: {value: not_detected}}, timestamp: '2021-01-11T08:09:28.600Z'}
            - {data: {location: {value: rear_right}, detected: {value: not_detected}}, timestamp: '2021-01-11T08:09:28.600Z'}
            - {data: {location: {value: rear_left}, detected: {value: not_detected}}, timestamp: '2021-01-11T08:09:28.600Z'}
            - {data: {location: {value: rear_center}, detected: {value: not_detected}}, timestamp: '2021-01-11T08:09:28.600Z'}
        type: array
        items:
            type: object
[...]
